<%= form_for @company_key_result do |f| %>
  <% if company_key_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_key_result.errors.count, "error") %> prohibited this company_key_result from being saved:</h2>

      <ul>
      <% company_key_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :key_result %><br />
    <%= f.text_field :key_result, autofocus: true, class: "form-control" %>
  </div> 

  <!--Company objective alignment-->
  <% obj_array = CompanyObjective.all.map { |obj| [obj.objective, obj.id] } %>
  <div class="form-group">
    <%= f.label :company_objective_alignment %><br />
    <%= select("company_objective", "company_objective_id", obj_array, {include_blank: false}, {class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.label :progress %><br />
    <%= f.text_field :progress, autofocus: true, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <div class="text-right">
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
