<%= form_for @personal_key_result do |f| %>
  <% if @personal_key_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_key_result.errors.count, "error") %> prohibited this personal_key_result from being saved:</h2>       

      <ul>
      <% @personal_key_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>     

  <div class="form-group">
    <%= f.label :key_result %><br />
    <%= f.text_field :key_result, autofocus: true, class: "form-control" %>
  </div>        

  <!--Load related personal objective-->
  <% obj_array = PersonalObjective.where(user_id: current_user.id).map { |obj| [obj.objective, obj.id] }%>
  <div class="form-group">
    <%= f.label :personal_objective_alignment %><br />
    <%= select("personal_objective", "obj_id", obj_array, {}, {class: 'form-control'}) %>
  </div>        

  <div class="form-group">
    <%= f.label :progress %><br />
    <%= f.text_field :progress, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="text-right">
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
