<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/timeframes" class="active">TIMEFRAMES</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
  <div id="timeframe_status_reminder_bar" data-position="top">
    <div class="pgn push-on-sidebar-open pgn-bar">
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">×</span>
          <span class="sr-only">
            Close
          </span>
        </button>
        <span id="timeframe_reminder_message" class="p-l-10">
          
        </span>
      </div>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <div class="col-md-6 col-sm-6">
    <h5 class="semi-bold">
      Timeframes
    </h5>
  </div>
  <div class="col-md-6 col-sm-6">
    <!--Admin is able to set the timeframe at most 2 years in advance-->
    <% timeframe_log_presence = false %>
    <% @timeframe_logs_advanced_two_years.each do |item| %>
      <% if item.quarter != '' %>
        <% timeframe_log_presence = true %>
      <% end %>
    <% end %>
    <% if timeframe_log_presence == false %>
    <% if @controls.include? 'Set time interval for particular year' %>
    <button id="btn_new_timeframe_overlay" class="btn btn-complete btn-cons btn-rounded btn-lg bold pull-right">
      New Timeframe Setting
    </button>
    <% end %>
    <% end %>
  </div>
</div>
<br />
<div id="timeframes_index_page" class="container-fluid container-fixed-lg">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:1%" class="text-center">
              <i class="fa fa-fw fa-clock-o fa-lg"></i>
            </th>
            <th style="width:30%">
              Quarter
            </th>
            <th style="width:30%">
              Start Date
            </th>
            <th style="width:40%">
              End Date
            </th>
          </tr>
        </thead>
        <tbody>
        <% @timeframe_logs.each do |item| %>
          <tr>
            <td class="text-center">
              <% if @selected_timeframe.id == item.id %>
              <i class="fa fa-fw fa-bullseye"></i>
              <% end %>
            </td>
            <td>
              <%= item.quarter %>
            </td>
            <td>
              <%= item.start_date %>
            </td>
            <td>
              <%= item.end_date %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="panel-footer">
      <i class="fa fa-fw fa-bullseye"></i> = current system timeframe quarter
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:30%">
              Year
            </th>
            <th style="width:40%">
              Timeframe Type
            </th>
            <th style="width:30%">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
        <% @timeframes.each do |item| %>
          <tr>
            <td>
              <%= item.year %>
            </td>
            <td>
              <%= item.timeframe_type %>
            </td>
            <td>
              <% if item.year > Date.today.year + 1 %>
              <a name="link_delete_timeframe" data-id="<%= item.id %>">
                <i class="fa fa-fw fa-trash-o"></i> Delete
              </a>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->

<!--Overlay to setup for new year-->
<div id="overlay_new_year_timeframe_setup" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 centralize">
        <h5 class="m-b-5">
          <span class="bold result-name objective">
          	Create new timeframe for coming year
          </span>
        </h5>
        <br/>
        <div class="form-group">
          <label>Year</label>
          <select id="year_selection" style="width: 100%">
            <% if @next_timeframe_logs == [] %>
            <option value="<%= Date.today.year + 1 %>"><%= Date.today.year + 1 %></option>
            <% else %>
            <option value="<%= Date.today.year + 2 %>"><%= Date.today.year + 2 %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <label>Timeframe Intervals</label>
          <select id="timeframe_log_interval_selection" style="width: 100%">
            <option value="Quarterly">Quarterly</option>
            <option value="Half Yearly">Half Yearly</option>
            <option value="Yearly">Yearly</option>
          </select>
        </div>
        <br/>
        <div class="form-group pull-right">
          <button id="btn_create_timeframe_log" class="btn btn-complete btn-cons btn-rounded">
            Save
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
</div>


