<p id="notice"><%= notice %></p>

<h1>Okr User Teams</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @okr_user_teams.each do |okr_user_team| %>
      <tr>
        <td><%= link_to 'Show', okr_user_team %></td>
        <td><%= link_to 'Edit', edit_okr_user_team_path(okr_user_team) %></td>
        <td><%= link_to 'Destroy', okr_user_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Okr User Team', new_okr_user_team_path %>
