<div class="container">
    <div class="row">
        <ul class="breadcrumb">
          <li><a href="/app/dashboard">Dashboard</a></li>
          <li>Company OKR</li>
        </ul>
    </div>
    <div class="row">
        <h1>Company Objectives</h1>

        <table>
          <thead>
            <tr>
              <th>Objective</th>
              <th>Progress</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @company_objectives.each do |company_objective| %>
              <tr>
                <td><%= company_objective.objective %></td>
                <td><%= company_objective.progress %></td>
                <td><%= link_to 'Show', company_objective %></td>
                <td><%= link_to 'Edit', edit_company_objective_path(company_objective) %></td>
                <td><%= link_to 'Destroy', company_objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Company Objective', new_company_objective_path %>
    </div>
</div>


<!--Page specific script-->



