<div class="login-wrapper">
  <div class="bg-pic">
    <img src="/app_cover.jpg" data-src="/app_cover.jpg" data-src-retina="/app_cover.jpg" alt="" class="lazy">
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
			  Pikto Retreat 2016 - Langkawi
      </h2>
      <p class="small">
        Weygen & Flavian
      </p>
    </div>
  </div>
  <!-- Login Background -->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <img src="/assets/img/logo.png" alt="logo" data-src="/assets/img/logo.png" data-src-retina="/assets/img/logo_2x.png" width="78" height="22">
      <p class="p-t-35">Sign into your PiktoOKR account</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "p-t-15") do |f| %>
        <div class="form-group form-group-default">
          <%= f.label :login %>
          <div class="controls">
            <%= f.email_field :email, autofocus: true, class: "form-control", required: true, placeholder: "Email" %>
          </div>
        </div>    

        <div class="form-group form-group-default">
          <%= f.label :password %>
          <div class="controls">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true, placeholder: "Credentials" %>
          </div>
        </div>    

        <div class="row">
          <div class="col-md-6 no-padding">
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <%= f.check_box :remember_me%>
                <%= f.label :remember_me %>
              </div>
            <% end -%> 
          </div>
          <div class="col-md-6 text-right">
            
          </div>
        </div>   

        <%= f.submit "Sign in", class: "btn btn-complete btn-cons btn-rounded m-t-10 bold" %>
      <% end %>
    </div>
  </div>
</div>



