<!-- START JUMBOTRON -->
<div class="bg-master-lighter" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/company_objectives/company_dashboard" class="active">COMPANY OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="bg-master-lighter">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h3 class="semi-bold">
          <%= @company_key_result.key_result %>
        </h3>
        <br/>
        <span class="okr-details-header-info">
          <i class="glyphicon glyphicon-user fa-lg"></i>
          <span class="label-font">
            <%= @user_info.last_name %> <%= @user_info.first_name %>
          </span>
        </span>
        <span class="okr-details-header-info">
          <i class="glyphicon glyphicon-calendar fa-lg"></i>
          <span class="label-font">
            <%= @timeframe_log.quarter %>
          </span>
        </span>
        <span>
          <% if @controls.include? 'Edit Company OKR' %>
          <% if @company_key_result.due_date.to_s == '' %>
          <a id="link_add_due_date_company_kr">
            <i class="glyphicon glyphicon-time fa-lg"></i>
            Add due date
          </a>
          <% else %>
          <a id="link_add_due_date_company_kr">
            <i class="glyphicon glyphicon-time fa-lg"></i>
            <span class="label-font">
              <%= @company_key_result.due_date.to_s %>
            </span>
          </a>
          <% end %>
          <% else %>
          <% if @company_key_result.due_date.to_s == '' %>
          <i class="glyphicon glyphicon-time fa-lg"></i>
            <%= @selected_timeframe.end_date %>
          <% else %>
          <i class="glyphicon glyphicon-time fa-lg"></i>
          <span class="label-font">
            <%= @company_key_result.due_date.to_s %>
          </span>
          <% end %>
          <% end %>
        </span>
        <br />
        <br />
        <hr />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pull-right padding-body">
          <div class="c100 p70">
            <span>
              <span id="okr_aligned_percentage"><%= @remaining_quarter_days.to_i %></span> <br/>
              <p>days left</p>
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="c100 p<%= @company_key_result.progress.to_i %>">
            <span>
              <span id="okr_aligned_percentage"><%= @company_key_result.progress.to_i %>%</span> <br/>
              <p>progress</p>
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h4 class="semi-bold">Timeline</h4>
        <div class="top-circle">
          <section class="timeline">
            <% @log.each do |item| %>
              <div class="timeline-block">
                <div class="timeline-point complete">
                  <% if item.log_content.include? "Created" %>
                  <i class="pg-lock"></i>
                  <% elsif item.log_content.include? "Contributed" %>
                  <i class="pg-arrow_up"></i>
                  <% elsif item.log_content.include? "Renamed" %>
                  <i class="pg-settings"></i>
                  <% end %>
                </div>
                <div class="timeline-content">
                  <div class="card share full-width">
                    <div class="card-header clearfix">
                      <% @time_difference = Time.now - item.created_at %>
                      <% if @time_difference < 86400 %>
                        <h5><%= @user_info.last_name %> <%= @user_info.first_name %></h5>
                        <span class="small">Less than 1 day ago</span>
                      <% else %>
                      <% @day_difference = @time_difference / 86400 %>
                        <h5><%= @user_info.last_name %> <%= @user_info.first_name %></h5>
                        <% if(@day_difference.to_i > 1) %>
                        <span class="small"><%= @day_difference.to_i %> days ago</span>
                        <% else %>
                        <span class="small"><%= @day_difference.to_i %> day ago</span>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="card-description"> 
                      <p><%= raw(item.log_content) %></p>             
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4 class="semi-bold">Alignment</h4>
        <ul class="treeview">
          <li>
            <button class="leaf-point" title="<%= @co_user_info.first_name %>">
              <%= @co_user_shortform %>
            </button>
            <span class="description semi-bold">
              <%= @company_objective.objective %>
            </span>

            <ul>
              <li>
                <button class="leaf-point level-2" title="<%= @user_info.first_name %>">
                  <%= @user_shortform %>
                </button>
                <span class="description semi-bold">
                  <%= @company_key_result.key_result %>
                </span>

                <ul>
                  <% @temp_team_objective.each do |item| %>
                  <% user_info = User.find(item[0][1]) %>
                  <% user_shortform = Shortform.get_string_shortform(user_info.first_name) %>
                  <li>
                    <button class="leaf-point level-3" title="<%= user_info.first_name %>">
                      <%= user_shortform %>
                    </button>
                    <span class="description semi-bold">
                      <%= item[0][0] %>
                    </span>
                  </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Modal for due date selection-->
<div id="company_kr_due_date_modal" class="modal fade slide-up" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Company Key Result Due Date Selection</h4>
        </div>
        <hr/>
        <div class="modal-body">
          <div class="form-group">
            <div class='input-group date' id='company_kr_datepicker'>
              <input type="text" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btn_save_company_kr_due_date" type="button" class="btn btn-complete" data-id="<%= @company_key_result.id %>">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>