<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/" class="active">MY PERSONAL OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">

  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <h5 class="semi-bold">My personal OKRs</h5>

  <div class="row">
    <!-- User related information and percentage of OKR aligned -->
    <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
      <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
        <%= image_tag @user.avatar.url %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7" >
        <div class="row">
          <%= content_tag(:div, content_tag(:h5, @user.last_name + " " + @user.first_name, class: "bold")) %>
        </div>
        <div class="row">
          <div class="form-group">
            <label>ROLE</label>
            <%= content_tag(:div, content_tag(:p, @role.name, class: "bold" )) %>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="small">TEAMS</label>
            <div>
              <%  @user.okr_teams.each_with_index do |team,index|  %>  
                <% if index == @user.okr_teams.size - 1 %>
                  <%= content_tag(:span, team.name, class: "bold" ) %>
                <% else %>
                  <%= content_tag(:span, team.name + ",", class: "bold" ) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All the progress bars -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p100 green">
          <span>
            <span id="okr_aligned_percentage">100%</span> <br/>
            <p>aligned</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <% if(@personal_objective.count != 0) %>
        <% percentage_completed_objective = (@completed_objective.to_f / @personal_objective.count.to_f) * 100 %>
        <% else %>
        <% percentage_completed_objective = 0 %>
        <% end %>
        <div class="c100 p<%= percentage_completed_objective.to_i %> orange">
          <span>
            <span id="completed_objective_portion">
              <%= @completed_objective %>/<%= @personal_objective.count %>
            </span> <br/>
            <p>objectives</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @total_progress.to_i %>">
          <span>
            <span id="overall_okr_progress">
              <%= @total_progress.to_i %>%
            </span> <br/>
            <p>overall progress</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @date_difference.to_i %> red">
          <span>
            <span id="last_updated">
              <% if(@personal_objective.count == 0) %>
              <%= '-' %>
              <% else %>
                <% if @date_difference < 1 %>
                  <% @date_difference = "< 1" %>
                  <%= @date_difference %>
                <% else %>
                  <%= @date_difference.to_i %>
                <% end %>                 
              <% end %>
            </span>  
            <p>days ago</p> 
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Accordion involved all the OKR progresses -->
  <div class="padding-accordion-group">
    <% @personal_objective.each do |item| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
              <h4 class="panel-title panel-title-custom">
                <a class="collapsed panel-heading-a" data-toggle="collapse" data-parent="#accordion" href="#personal_obj_<%= item.id %>" aria-expanded="false" aria-controls="personal_obj_<%= item.id %>">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <% @okr_team_personal = OkrTeamPersonal.find_by(personal_objective_id: item.id) %>
                    <% if @okr_team_personal != nil %>
                      <% @team_key_result = TeamKeyResult.find(@okr_team_personal.team_key_result_id) %>
                      <%= content_tag(:p, @team_key_result.key_result, class: "small details-layout" ) %>
                    <% else %>
                      <% @okr_company_personal = OkrCompanyPersonal.find_by(personal_objective_id: item.id) %>
                      <% @company_key_result = CompanyKeyResult.find(@okr_company_personal.company_key_result_id) %>
                      <%= content_tag(:p, @company_key_result.key_result, class: "small details-layout" ) %>
                    <% end %>
                    <div id="personal_objective_<%= item.id %>">
                      <p class="bold details-layout objective">
                        <%= item.objective %>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <button class="btn btn-accordion edit_personal_objective" data-id="<%= item.id %>" name="personalobj_<%= item.id %>">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <!--<div class="text-center">
                      <p class="small">Contribution</p>
                      <div class="text-center">
                        <span class="bold">21%</span>
                      </div>
                    </div>-->
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="text-center">
                      <p class="small">Days left</p>
                      <div class="text-center">
                        <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:0px;">
                    <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold" ), class: "text-center") %>
                    <br />
                    <div class="progress">
                      <div class="progress-bar progress-bar-complete" style="width:<%= item.progress %>%"></div>
                    </div>
                  </div>
                </div>
                </a>
              </h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <div class="dropdown pull-right">
                <button class="btn btn-accordion" data-toggle="dropdown" type="button">
                  <i class="pg-menu"></i>   
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <!--View detailed of the personal objective-->
                    <a href="/personal_objectives/<%= item.id %>/details">
                      <i class="pg-search"></i> 
                      <span> Go to details</span>
                    </a>
                  </li>                 
                  <% personal_key_result = PersonalKeyResult.where(personal_objective_id: item.id).order(updated_at: :DESC) %>
                  <% if personal_key_result.count == 0 %>
                  <li>
                    <a data-toggle="modal" data-target="#confirmation_obj_deletion_modal_<%= item.id %>">
                      <i class="fa fa-fw fa-trash-o"></i> 
                      <span> Delete</span>
                    </a>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Confirmation Modal before personal objective deletion -->
        <div id="confirmation_obj_deletion_modal_<%= item.id %>" class="modal fade stick-up" role="dialog">
          <div class="modal-dialog">                   
            <!-- Modal content-->
            <div style="background:#ffffff;">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
              </div>
              <hr/>
              <div class="modal-body">
                <div class="form-group">
                  <p>Are you sure? </p>
                </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-danger" rel="nofollow" data-method="delete" href="/personal_objectives/<%= item.id %>">
                  Delete
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>                
          </div>
        </div>
        <div id="personal_obj_<%= item.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="personal_obj_<%= item.id %> ">
          <div class="panel-body no-padding">
            <!-- Find out the key result linked to the objective -->
            <% personal_key_result_count = personal_key_result.count %>
            <% personal_key_result_completed = 0 %>
            <% personal_key_result.each_with_index do |item,index| %>
              <% if(item.progress == 100.00 || item.is_completed == true) %>
              <%    personal_key_result_completed = personal_key_result_completed + 1 %>
              <% end %>
              <div id="personal_key_result_<%= item.id %>" class="row accordion-item">
                <div class="col-lg-11 col-md-11 col-sm-11">
                  <div class="row checkbox check-complete">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-l-0">
                      <div class="accordion-item-title">
                        <div id="personal_kr_<%= item.id %>">
                          <% if(item.is_completed == true) %>
                          <input type="checkbox" value="0" id="personalkrcompleted_<%= item.id %>" name="personal_kr_checkbox" checked/>
                          <label for="personalkrcompleted_<%= item.id %>">
                            <p class="details-layout"><%= raw(item.key_result) %></p>
                          </label>
                          <% else %>
                          <input type="checkbox" value="1" id="personalkrcompleted_<%= item.id %>" name="personal_kr_checkbox"/>
                          <label for="personalkrcompleted_<%= item.id %>">
                            <p class="details-layout">
                              <%= raw(item.key_result) %>
                            </p>
                          </label>
                          <% end %>
                        </div> 
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <div class="pull-left">
                        <% if(item.is_completed != true || item.progress != 100.00) %>
                        <button class="btn btn-accordion edit_personal_key_result" name="personalkr_<%= item.id %>"  data-id="<%= item.id %>">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <!--<div class="text-center">
                        <span class="bold">21%</span>
                      </div>-->
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <div class="text-center">
                        <span class="bold">
                        <% if item.due_date == nil %>
                        <% remained_completion_days = @remaining_quarter_days %>
                        <% else %>
                        <% remained_completion_days = @selected_timeframe.end_date - item.due_date %>
                        <% if remained_completion_days < 1 %>
                        <% remained_completion_days = 1 %>
                        <% end %>
                        <% end %>              
                        <%= remained_completion_days %>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
                      <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold", id: "personal_kr_progress_" + item.id.to_s ), class: "text-center small") %>
                      <div class="progress">
                        <div class="progress-bar progress-bar-complete" style="width:<%= item.progress %>%"></div>
                      </div>    
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="dropdown pull-right">
           	        <button class="btn btn-accordion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           	          <i class="pg-menu"></i>
           	        </button>
                    <ul class="dropdown-menu">
                      <li>
                        <!-- Link to Contribution page -->
                        <% if(item.progress == 100.00 || item.is_completed == true) %>
                          <a href="/" data-toggle="modal" data-target="#notification_modal" id="keyresultprogress_<%= item.id %>">
                            <i class="pg-plus"></i> 
                             Progress update
                          </a>
                        <% else %>
                          <a href="/" data-toggle="search" data-target="#contribution_popup" id="keyresultprogress_<%= item.id %>">
                            <i class="pg-plus"></i> 
                             Progress update
                          </a>
                        <% end %>
                      </li>
                      <li>
                        <!--View detailed of the personal key result-->
                        <a href="/personal_key_results/<%= item.id %>/details">
                          <i class="pg-search"></i> 
                           Go to details
                        </a>
                      </li>
                      <li>
                        <!-- Deletion of key result -->
                        <a data-toggle="modal" data-target="#confirmation_kr_deletion_modal_<%= item.id %>">
                          <i class="pg-trash_line"></i> 
                           Delete
                        </a>
                      </li>
                    </ul>
                    <!-- <a href="#" class="search-link" data-toggle="contribution"> -->
           	      </div>
                </div>
              </div>
              <!-- Confirmation modal for personal key result deletion -->
              <div id="confirmation_kr_deletion_modal_<%= item.id %>" class="modal fade stick-up" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-background">
                    <div class="modal-header clearfix text-left">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Warning</h4>
                    </div>
                    <hr/>
                    <div class="modal-body">
                      <div class="form-group">
                        <p id="prompt_message">Are you sure?</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-danger" rel="nofollow" data-method="delete" href="/personal_key_results/<%= item.id %>">
                        Delete
                      </a>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                
                </div>
              </div>
            <% end %>

            <% if @selected_timeframe.id == @system_timeframe_log_id %>
            <!-- New row for the add in of new key results over here -->
            <div class="row accordion-item add-new-personal-key-result">
              <div name="new_key_result_objective_<%= item.id %>">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon-plus text-center key-result-input">
                  <span class="fa fa-fw fa-plus fa-lg m-t-5"></span>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 m-b-5">
                  <input name="new_key_result" type="text" class="form-control form-new-key-result" placeholder="Add new personal key result" data-id="<%= item.id %>"/>
                </div>      
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-4 col-sm-4 bold small">
              <%= personal_key_result_count %> Key Results
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center">
                <span class="caret"></span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pull-right bold small completed-key-result">
                <%= personal_key_result_completed %> Completed
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @selected_timeframe.id == @system_timeframe_log_id %>
    <div class="panel panel-default">
      <div class="panel-heading p-t-15 new-objective-input" role="tab">
        <h4 class="panel-title panel-title-custom">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon-plus m-t-5">
            <span class="fa fa-fw fa-plus fa-lg m-t-5"></span>
          </div>
          <div id="add-new-personal-objective" class="col-lg-11 col-md-11 col-sm-11 col-xs-11 m-b-5">
            <input id="new_personal_objective" type="text" class="form-control form-new-key-result" placeholder="Add new objective"/>
          </div>
        </h4>
      </div>
    </div>
    <% end %>

  </div>

  <!-- END PLACE PAGE CONTENT HERE -->

</div>
<!-- END CONTAINER FLUID -->

<!-- Overlay for the contribution module -->
<div id="contribution_popup" class="overlay hide" data-pages="search">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="centralize">
      <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <h5 class="m-b-5">
              <span class="result-name">
              	<span class="bold modal-title-custom">Confirm progress update for:</span> <br/>
                <span class="bold" id="personal_key_result">xxxxxx</span>
              </span>
            </h5>
          </div>
          <div id="key_result_id" style="display:none;">
          </div>
          <div id="popup_initial_progress" style="display:none;">
          </div>
          <div class="row">
            <div class="no-padding m-t-50">
              <div class="bg-master bg-complete-darker" id="slider-tooltips">
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="row">           
                <div class="form-group form-group-default">
                  <label>WHAT DID YOU CONTRIBUTE TO THIS KEY RESULT?</label>
                  <textarea id="contribution_textarea" class="form-control textarea-custom" required></textarea>
                </div>
            </div>
            <div class="row">
              <div class="pull-right">
                <a href="/" class="btn btn-default btn-cons btn-rounded m-t-10">
                  Cancel
                </a>
                <button id="btn_update_progress" class="btn btn-complete btn-cons btn-rounded m-t-10" disabled="true">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Overlay for the new objective -->
<div id="new_objective_popup" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="centralize">
      <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <h5 class="m-b-5">
              <span class="bold result-name objective">
              	New Personal Objective
              </span>
            </h5>
            <hr />
          </div>      
          <div class="row">
            <div class="radio radio-complete">
              <input type="radio" value="company_kr" name="option_kr" id="radio_company_kr" />
              <label for="radio_company_kr">Company Key Result</label>
              <input type="radio" checked="checked" value="team_kr" name="option_kr" id="radio_team_kr" />
              <label for="radio_team_kr">Team Key Result</label>
            </div>
            <form role="form">
              <div id="selection_team_kr" class="form-group">
                <label>Select the alignment Team Key Result</label>
                <!--Load all the key result of the particular team-->
                <select id="team_key_result_selection" class="full-width">
                  <% temp_okr_team = "" %>
                  <% @temp_team_key_result.each_with_index do |item, index| %>
                  <% if index == 0 %>
                  <% temp_okr_team = item[2] %>
                  <optgroup label="<%= temp_okr_team %>">
                  <% end %>
                  <% if item[2] != temp_okr_team %>
                  <% temp_okr_team = item[2] %>
                  <optgroup label="<%= temp_okr_team %>">
                  <% end %>
                    <option value="<%= item[1] %>">
                      <%= item[0] %>
                    </option>
                  <% if item[index + 1] != nil %>
                  <% if item[index + 1] != temp_okr_team %>
                  </optgroup>
                  <% end %>
                  <% end %>
                  <% end %>                             
                </select>
              </div>
              <div id="selection_company_kr" class="form-group" style="display: none;">
                <label>Select the alignment Company Key Result</label>
                <!--Load all the key result of the particular team-->
                <select id="company_key_result_selection" style="width: 100%;">
                  <% @temp_company_key_result.each do |item| %>
                    <option value="<%= item[1] %>"><%= item[0] %></option>
                  <% end %>                             
                </select>
              </div>
            </form>
            <br />
            <div class="form-group form-group-default">
              <label>OBJECTIVE TITLE</label>
              <textarea id="personal_objective_textarea" class="form-control textarea-custom" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="pull-right">
              <a href="/" class="btn btn-default btn-cons btn-rounded m-t-10">
                Cancel
              </a>
              <button id="btn_new_personal_objective" class="btn btn-complete btn-cons btn-rounded m-t-10" disabled="true">
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Overlay for the 1st time login-->
<div id="overlay_first_timer" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 centralize">
        <div class="row">
          <div class="text-center">
            <h4 class="brand-header">Pikto<span class="bold">OKR</span></h4>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="text-center">
            <img src="<%= @server_url %>/welcome.png" style="width: 128px;"/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="text-center">
            <h3>You made it <span class="bold"><%= @user.last_name %> <%= @user.first_name %>! :)</span></h3>
            <h5>Glad to have you around!</h5>
            <h5>Before we start, we just need a few details from you...</h5>
            <br/>
            <button id="btn_first_timer_edit_profile" class="btn btn-complete btn-cons btn-rounded">
              Let's do this!
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>

<!--Overlay for the 1st time login to change password-->
<div id="overlay_first_timer_edit_profile" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <br/>
        <div class="row">
          <div class="text-center">
            <h4 class="brand-header">Pikto<span class="bold">OKR</span></h4>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <img src="<%= @server_url %>/wink.png" style="width:36px;"/>
          </div>
          <div class="col-md-10 col-sm-10">
            <p class="bold">Don't worry! This will only take a second...</p>
            <p>Please fill out the fields to help us know more about you and help your fellow peeps recognize you.</p>
          </div>
        </div>
        <br/>
        <div class="row">
          <%= form_for @user, url: "/users/#{current_user.id}/user_update" do |f| %>
            <div class="text-center">
              <%= image_tag @user.avatar.url %>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Smith", required: true %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "John", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group form-group-default">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@gmail.com", required: true %>
            </div>
            <div class="form-group form-group-default required">
              <%= f.label :position %>
              <%= f.text_field :position, autofocus: true, class: "form-control", placeholder: "UI/UX Designer", required: true %>
            </div>
            <div class="form-group form-group-default">
              <%= f.label :change_avatar %><br />
              <%= f.file_field :avatar, class: "form-control" %>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group form-group-default required">
                  <%= f.label :password %>
                  <% if @minimum_password_length == 6 %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group form-group-default required">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
            </div>
            <hr/>
            <div class="text-center">
              <%= f.submit "PiktoOKR Here I Come!", class: "btn btn-complete btn-rounded btn-cons" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>










