<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/" class="active">MY PERSONAL OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
  <div data-position="top">
    <div class="pgn push-on-sidebar-open pgn-bar">
      <div class="alert alert-info">
        <button type="button" class="close-icon" data-dismiss="alert">
          <span>×</span>
          <span class="sr-only">
            Close
          </span>
        </button>
        <span class="p-l-10">PiktoOKR works best at Google Chrome :)</span>
      </div>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">

  <div class="row">
    <!-- User related information and percentage of OKR aligned -->
    <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
      <div class="col-lg-5 col-md-5 col-sm-5 text-center">
        <% if @user.avatar.url == '/searching_user.svg' %>
          <%= image_tag @user.avatar.url(:thumb), class: "missing-user-img" %>
        <% else %>
          <%= image_tag @user.avatar.url(:thumb) %>
        <% end %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <%= content_tag(:div, @user.last_name + " " + @user.first_name, class: "dashboard-title m-b-10") %>
        <div class="form-group">
          <label>ROLE</label>
          <%= content_tag(:p, @role.name, class: "name" ) %>
        </div>
        <div class="form-group">
          <label>TEAMS</label>
          <p>
          <% @user.okr_teams.each_with_index do |team,index|  %>  
            <% if index == @user.okr_teams.size - 1 %>
              <%= content_tag(:span, team.name, class: "name" ) %>
            <% else %>
              <%= content_tag(:span, team.name + ",", class: "name" ) %>
            <% end %>
          <% end %>
          </p>
        </div>
      </div>
    </div>
    <!-- All the progress bars -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p100 green">
          <span id="okr_aligned_percentage">100%</span>
          <span class="circle-label">aligned</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <% if(@personal_objective.count != 0) %>
        <% percentage_completed_objective = (@completed_objective.to_f / @personal_objective.count.to_f) * 100 %>
        <% else %>
        <% percentage_completed_objective = 0 %>
        <% end %>
        <div class="c100 p<%= percentage_completed_objective.to_i %> orange">
          <span id="completed_objective_portion">
            <%= @completed_objective %>/<%= @personal_objective.count %>
          </span>
          <span class="circle-label">objectives</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @total_progress.to_i %>">
          <span id="overall_okr_progress">
            <%= @total_progress.to_i %>%
          </span>
          <span class="circle-label">overall progress</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @date_difference.to_i %> red">
          <span id="last_updated">
            <% if(@personal_objective.count == 0) %>
            <%= '-' %>
            <% else %>
              <% if @date_difference < 1 %>
                <% @date_difference = "< 1" %>
                <%= @date_difference %>
              <% else %>
                <%= @date_difference.to_i %>
              <% end %>                 
            <% end %>
          </span>
          <span class="circle-label">days ago</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Accordion involved all the OKR progresses -->
  <div class="layout-accordion-group">
    <% @personal_objective.each do |item| %>
      <div class="panel">
        <div class="custom-panel-heading" role="tab">
          <div class="col-lg-11 col-md-11 col-sm-11">
            <a class="panel-heading-a" data-toggle="collapse" data-parent="#accordion" href="#personal_obj_<%= item.id %>" aria-expanded="true" aria-controls="personal_obj_<%= item.id %>">
              <div class="row">
                <div id="personal_objective_<%= item.id %>" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                  <% @okr_team_personal = OkrTeamPersonal.find_by(personal_objective_id: item.id) %>
                  <% if @okr_team_personal != nil %>
                    <% @team_key_result = TeamKeyResult.find(@okr_team_personal.team_key_result_id) %>
                    <%= content_tag(:p, @team_key_result.key_result, class: "accordion-header-title" ) %>
                  <% else %>
                    <% @okr_company_personal = OkrCompanyPersonal.find_by(personal_objective_id: item.id) %>
                    <% @company_key_result = CompanyKeyResult.find(@okr_company_personal.company_key_result_id) %>
                    <%= content_tag(:p, @company_key_result.key_result, class: "accordion-header-title" ) %>
                  <% end %>
                  <div class="accordion-obj-title">
                    <%= item.objective %>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
                  <i id="obj_loading_<%= item.id %>" class="fa fa-fw fa-circle-o-notch fa-spin fa-2x" style="display:none;"></i>
                  <button class="btn btn-accordion edit_personal_objective" data-id="<%= item.id %>">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 no-padding text-center">
                  <p class="accordion-header-title">Days left</p>
                  <% if @selected_timeframe.id == @system_timeframe_log_id %>
                  <span class="accordion-obj-subtitle"><%= @remaining_quarter_days.to_i %></span>
                  <% elsif @selected_timeframe.id < @system_timeframe_log_id %>
                  <span class="accordion-obj-subtitle"><%= 0 %></span>
                  <% end %>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
                  <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold" ), class: "text-center accordion-obj-subtitle m-b-10") %>
                  <div class="progress">
                    <div class="progress-bar progress-bar-complete" style="width:<%= item.progress %>%"></div>
                  </div>
                </div>
              </div>
            </a> 
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
            <div class="dropdown pull-right">
              <button class="btn btn-accordion no-padding p-t-10" data-toggle="dropdown" type="button">
                <i class="pg-menu"></i>   
              </button>
              <ul class="dropdown-menu">
                <li>
                  <!--View detailed of the personal objective-->
                  <a href="/personal_objectives/<%= item.id %>/details">
                    <i class="pg-search"></i> 
                    <span> Go to details</span>
                  </a>
                </li>
                <% personal_key_result = PersonalKeyResult.where(personal_objective_id: item.id).order(updated_at: :DESC) %>
                <% if @selected_timeframe.id == @system_timeframe_log_id %>        
                <% if personal_key_result.count == 0 %>
                <li>
                  <a data-toggle="modal" data-target="#confirmation_obj_deletion_modal_<%= item.id %>" class="pointer-link">
                    <i class="fa fa-fw fa-trash-o"></i> 
                    <span> Delete</span>
                  </a>
                </li>
                <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- Confirmation Modal before personal objective deletion -->
        <div id="confirmation_obj_deletion_modal_<%= item.id %>" class="modal fade stick-up" role="dialog">
          <div class="modal-dialog">                   
            <!-- Modal content-->
            <div style="background:#ffffff;">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
              </div>
              <hr/>
              <div class="modal-body">
                <div class="form-group">
                  <p>Are you sure? </p>
                </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-danger btn-rounded pointer-link" rel="nofollow" data-method="delete" href="/personal_objectives/<%= item.id %>">
                  Delete
                </a>
                <button type="button" class="btn btn-cancel btn-rounded" data-dismiss="modal">Close</button>
              </div>
            </div>                
          </div>
        </div>
        <div id="personal_obj_<%= item.id %>" class="panel-collapse in" role="tabpanel" aria-labelledby="personal_obj_<%= item.id %> ">
          <div class="panel-body no-padding">
            <!-- Find out the key result linked to the objective -->
            <% personal_key_result_count = personal_key_result.count %>
            <% personal_key_result_completed = 0 %>
            <% personal_key_result.each_with_index do |item,index| %>
              <% if(item.progress == 100.00 || item.is_completed == true) %>
              <%    personal_key_result_completed = personal_key_result_completed + 1 %>
              <% end %>
              <div id="personal_key_result_<%= item.id %>" class="row accordion-item custom-accordion-item">
                <div class="col-lg-11 col-md-11 col-sm-11 no-padding">
                  <div class="checkbox check-complete">
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                      <div id="personal_kr_<%= item.id %>" class="accordion-item-title">
                        <% if item.is_completed == true %>
                        <input type="checkbox" value="0" id="personalkrcompleted_<%= item.id %>" disabled="true" checked/>
                        <label for="personalkrcompleted_<%= item.id %>">
                          <p class="key-result"><%= raw(item.key_result) %></p>
                        </label>
                        <% else %>
                        <% if @selected_timeframe.id != @system_timeframe_log_id %>
                        <input type="checkbox" value="1" id="personalkrcompleted_<%= item.id %>" disabled="true"/>
                        <% else %>
                        <input type="checkbox" value="1" id="personalkrcompleted_<%= item.id %>" name="personal_kr_checkbox" data-id="<%= item.id %>"/>
                        <% end %>
                        <label for="personalkrcompleted_<%= item.id %>">
                          <p class="key-result"><%= raw(item.key_result) %></p>
                        </label>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 pull-left">
                      <i id="kr_loading_<%= item.id %>" class="fa fa-fw fa-circle-o-notch fa-spin fa-2x" style="display:none;"></i>
                      <% if(item.is_completed != true || item.progress != 100.00) %>
                      <button class="btn btn-accordion edit_personal_key_result no-padding" name="personalkr_<%= item.id %>"  data-id="<%= item.id %>">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <% end %>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 no-padding text-center">
                      <% if item.due_date == nil %>
                        <% if @selected_timeframe.id < @system_timeframe_log_id %>
                        <% remained_completion_days = 0 %>
                        <% elsif @selected_timeframe.id > @system_timeframe_log_id %>
                        <% remained_completion_days = "" %>
                        <% else %>
                        <% remained_completion_days = @remaining_quarter_days  %>
                        <% end %>
                      <% else %>
                        <% if @selected_timeframe.id < @system_timeframe_log_id %>
                        <% remained_completion_days = 0 %>
                        <% elsif @selected_timeframe.id > @system_timeframe_log_id %>
                        <% remained_completion_days = "" %>
                        <% else %>
                        <% remained_completion_days = item.due_date - Date.today %>
                        <% if remained_completion_days.to_i < 1 %>
                        <% remained_completion_days = 0 %>
                        <% end %>
                        <% end %>
                      <% end %>    
                      <span name="personal_kr_due_date" class="bold" data-end-date="<%= item.due_date %>">          
                        <%= remained_completion_days.to_i %>
                      </span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding key-result-progress">
                      <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold", data: {progress: item.progress} ), class: "text-center small") %>
                      <div class="progress">
                        <div class="progress-bar progress-bar-complete" style="width:<%= item.progress %>%"></div>
                      </div>    
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
                  <div class="dropdown pull-right">
           	        <button class="btn btn-accordion no-padding p-t-10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           	          <i class="pg-menu"></i>
           	        </button>
                    <ul class="dropdown-menu">
                      <% if @selected_timeframe.id == @system_timeframe_log_id %>
                      <li>
                        <!-- Link to Contribution page -->
                        <% if(item.progress == 100.00 || item.is_completed == true) %>
                          <a href="/" data-toggle="modal" data-target="#notification_modal" id="keyresultprogress_<%= item.id %>" class="pointer-link">
                            <i class="pg-plus"></i> 
                             Progress update
                          </a>
                        <% else %>
                          <a name="link_contribution_overlay" data-id="<%= item.id %>" class="pointer-link">
                            <i class="pg-plus"></i> 
                             Progress update
                          </a>
                        <% end %>
                      </li>
                      <% end %>
                      <li>
                        <!--View detailed of the personal key result-->
                        <a href="/personal_key_results/<%= item.id %>/details">
                          <i class="pg-search"></i> 
                           Go to details
                        </a>
                      </li>
                      <% if @selected_timeframe.id == @system_timeframe_log_id %>
                      <li>
                        <!-- Deletion of key result -->
                        <a data-toggle="modal" data-target="#confirmation_kr_deletion_modal_<%= item.id %>" class="pointer-link">
                          <i class="pg-trash_line"></i> 
                           Delete
                        </a>
                      </li>
                      <% end %>
                    </ul>
                    <!-- <a href="#" class="search-link" data-toggle="contribution"> -->
           	      </div>
                </div>
              </div>
              <!-- Confirmation modal for personal key result deletion -->
              <div id="confirmation_kr_deletion_modal_<%= item.id %>" class="modal fade stick-up" role="dialog">
                <div class="modal-dialog modal-background">
                
                  <!-- Modal content-->
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning</h4>
                  </div>
                  <hr/>
                  <div class="modal-body">
                    <div class="form-group">
                      <p id="prompt_message">Are you sure?</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-danger btn-rounded" rel="nofollow" data-method="delete" href="/personal_key_results/<%= item.id %>">
                      Delete
                    </a>
                    <button type="button" class="btn btn-cancel btn-rounded" data-dismiss="modal">Close</button>
                  </div>
                
                </div>
              </div>
            <% end %>

            <% if @selected_timeframe.id >= @system_timeframe_log_id %>
            <!-- New row for the add in of new key results over here -->
            <div class="row accordion-item add-new-personal-key-result">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon-plus text-center key-result-input no-padding">
                <span id="kr_creation_loading_<%= item.id %>" class="fa fa-fw fa-circle-o-notch fa-spin fa-2x" style="display: none;"></span>
                <span id="plus_icon_<%= item.id %>" class="fa fa-fw fa-plus fa-lg m-t-5"></span>
              </div>
              <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 no-padding p-t-5">
                <input name="new_key_result" type="text" class="form-control form-new-key-result" placeholder="Press enter to create Key Result" data-id="<%= item.id %>"/>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row no-margin no-padding">
            <div class="col-md-4 col-sm-4 bold small">
              <%= personal_key_result_count %> Key Results
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <a data-toggle="collapse" data-parent="#accordion" href="#personal_obj_<%= item.id %>" aria-expanded="false" aria-controls="personal_obj_<%= item.id %>" class="btn sidebar-slide-toggle btn-link no-padding no-margin">
                <i class="fa fa-angle-down fs-16"></i>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 bold small completed-key-result text-right">
              <%= personal_key_result_completed %> Completed
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @selected_timeframe.id >= @system_timeframe_log_id %>
    <div class="new-objective-input">
      <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon-plus m-t-5 text-center">
        <span class="fa fa-fw fa-plus fa-lg m-t-5"></span>
      </span>
      <span id="add-new-personal-objective" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <input id="new_personal_objective" type="text" class="form-control form-new-key-result" placeholder="Press enter to create objective"/>
      </span>
    </div>
    <% end %>

  </div>

  <!-- END PLACE PAGE CONTENT HERE -->

</div>
<!-- END CONTAINER FLUID -->

<!-- Overlay for the contribution module -->
<div id="contribution_overlay" class="overlay hide" data-pages="search">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a class="close-icon-light overlay-close close-button">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="contribution-overlay">
      <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="centralize col-lg-6 col-md-6 col-sm-6">
          <h5 id="personal_key_result_contribution" class="overlay-title overlay-title-md" data-id="0">
          </h5>
          <hr/>
          <span class="overlay-subtitle progress-update">
            Progress update <span id="contribution_progress_update" class="bold">30</span>%
          </span>
          <div id="popup_initial_progress" style="display:none;">
          </div>
          <div class="no-padding m-t-20 m-b-30">
            <div class="bg-master bg-complete-darker" id="contribution_sliders">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
            <div class="aligned-company-objective">
              <span class="fa fa-fw fa-lock fa-lg"></span>
              <span id="aligned_company_objective">Aligned Company Objective</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding text-right">
            <div class="aligned-company-objective">
              <span class="fa fa-fw fa-clock-o fa-lg"></span>
              <span id="personal_key_result_due_date"></span>
            </div>
          </div>
          <br/>
          <div class="form-group form-group-default">
            <label>WHAT DID YOU CONTRIBUTE TO THIS KEY RESULT?</label>
            <textarea id="contribution_textarea" class="form-control textarea-custom" required></textarea>
          </div>
          <div class="pull-right">
            <a id="btn_close_contribution_overlay" class="btn btn-cancel btn-cons btn-rounded m-t-10">
              Cancel
            </a>
            <button id="btn_update_progress" class="btn btn-complete btn-cons btn-rounded m-t-10" disabled="true">
              Save
            </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Overlay for the new objective -->
<div id="new_objective_popup" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a class="close-icon-light overlay-close close-button">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="centralize">
      <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <h5 class="m-b-5">
              <span class="overlay-title overlay-title-md">
              	New Personal Objective
              </span>
            </h5>
            <hr />
          </div>      
          <div class="row">
            <div class="radio radio-complete">
              <input type="radio" value="company_kr" name="option_kr" id="radio_company_kr" />
              <label for="radio_company_kr">Company Key Result</label>
              <input type="radio" checked="checked" value="team_kr" name="option_kr" id="radio_team_kr" />
              <label for="radio_team_kr">Team Key Result</label>
            </div>
            <form role="form">
              <div id="selection_team_kr" class="form-group">
                <label>Select the alignment Team Key Result</label>
                <!--Load all the key result of the particular team-->
                <select id="team_key_result_selection" style="width: 100%;">
                  <% temp_okr_team = "" %>
                  <% previous_okr_team = "" %>
                  <% @temp_team_key_result.each_with_index do |item, index| %>
                  <% if index == 0 %>
                  <% temp_okr_team = item[2] %>
                  <% previous_okr_team = item[2] %>
                  <optgroup label="<%= temp_okr_team %>">
                  <% end %>
                  <% if item[2] != temp_okr_team %>
                  <% temp_okr_team = item[2] %>
                  </optgroup>
                  <optgroup label="<%= temp_okr_team %>">
                  <% end %>
                    <option value="<%= item[1] %>">
                      <%= item[0] %>
                    </option>
                  <% end %>
                  <% if @temp_team_key_result.count != 0 %>
                  </optgroup>
                  <% end %>                          
                </select>
              </div>
              <div id="selection_company_kr" class="form-group">
                <label>Select the alignment Company Key Result</label>
                <!--Load all the key result of the particular team-->
                <select id="company_key_result_selection" style="width: 100%;">
                  <% @temp_company_key_result.each do |item| %>
                    <option value="<%= item[1] %>"><%= item[0] %></option>
                  <% end %>                             
                </select>
              </div>
            </form>
            <br />
            <div class="form-group form-group-default">
              <label>OBJECTIVE TITLE</label>
              <textarea id="personal_objective_textarea" class="form-control textarea-custom" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="pull-right">
              <a id="btn_close_creation_personal_objective" class="btn btn-cancel btn-cons btn-rounded m-t-10">
                Cancel
              </a>
              <button id="btn_new_personal_objective" class="btn btn-complete btn-cons btn-rounded m-t-10" disabled="true">
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Overlay for the 1st time login-->
<div id="overlay_first_timer" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close close-button">
        <i class="pg-close"></i>
      </a>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 centralize">
        <div class="row">
          <div class="text-center">
            <h4 class="brand-header">Pikto<span class="bold">OKR</span></h4>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="text-center">
            <img src="<%= @server_url %>/welcome.png" style="width: 128px;"/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="text-center">
            <h3>You made it <span class="bold"><%= @user.last_name %> <%= @user.first_name %>! :)</span></h3>
            <h5>Glad to have you around!</h5>
            <h5>Before we start, we just need a few details from you...</h5>
            <br/>
            <button id="btn_first_timer_edit_profile" class="btn btn-complete btn-cons btn-rounded">
              Let's do this!
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>

<!--Overlay for the 1st time login to change password-->
<div id="overlay_first_timer_edit_profile" class="overlay hide">
  <div class="overlay-content has-results m-t-20 m-b-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close close-button">
        <i class="pg-close"></i>
      </a>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <br/>
        <div class="row">
          <div class="text-center">
            <h4 class="brand-header">Pikto<span class="bold">OKR</span></h4>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <img src="<%= @server_url %>/wink.png" style="width:36px;"/>
          </div>
          <div class="col-md-10 col-sm-10">
            <p class="bold">Don't worry! This will only take a second...</p>
            <p>Please fill out the fields to help us know more about you and help your fellow peeps recognize you.</p>
          </div>
        </div>
        <br/>
        <div class="row">
          <%= form_for @user, url: "/users/#{current_user.id}/user_update_first_time" do |f| %>
            <div class="text-center">
              <%= image_tag @user.avatar.url %>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Smith", required: true %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "John", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group form-group-default">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@gmail.com", required: true %>
            </div>
            <div class="form-group form-group-default required">
              <%= f.label :position %>
              <%= f.text_field :position, autofocus: true, class: "form-control", placeholder: "UI/UX Designer", required: true %>
            </div>
            <div class="form-group form-group-default">
              <%= f.label :change_avatar %><br />
              <%= f.file_field :avatar, class: "form-control" %>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group form-group-default required">
                  <%= f.label :password %>
                  <% if @minimum_password_length == 6 %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group form-group-default required">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
            </div>
            <hr/>
            <div class="text-center">
              <%= f.submit "PiktoOKR Here I Come!", class: "btn btn-complete btn-rounded btn-cons" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
      </div>
    </div>
  </div>
</div>










