<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/users/<%= @user.id %>/personal_objectives/view_others_personal_okr" class="active"><%= @user.last_name %> PERSONAL OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">

  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <h5 class="semi-bold"><%= @user.last_name %> personal OKRs</h5>

  <div class="row">
    <!-- User related information and percentage of OKR aligned -->
    <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
      <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
        <%= image_tag @user.avatar.url %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="row">
          <h5 class="bold">
            <span>
              <%= @user.last_name + " " + @user.first_name %>
            </span>
            <span class="m-l-10" data-id="<%= current_user.id %>">
              <% current_user_fav = OkrUserFavourite.find_by(favourite_id: @user.id) %>
              <% if current_user_fav != nil %>
              <a id="btn_remove_fav_user" class="btn btn-warning no-padding" data-id="<%= current_user_fav.id %>">
                <i class="fa fa-fw fa-star-o fa-lg"></i>
              </a>
              <% else %>
              <a id="btn_fav_user" class="btn btn-default no-padding" data-id="<%= @user.id %>">
                <i class="fa fa-fw fa-star-o fa-lg"></i>
              </a>
              <% end %>
            </span>
          </h5>
        </div>
        <div class="row">
          <div class="form-group">
            <label>ROLE</label>
            <%= content_tag(:div, content_tag(:p, @role.name, class: "bold" )) %>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="small">TEAMS</label>
            <div>
              <%  @user.okr_teams.each_with_index do |team,index|  %>  
                <% if index == @user.okr_teams.size - 1 %>
                  <%= content_tag(:span, team.name, class: "bold" ) %>
                <% else %>
                  <%= content_tag(:span, team.name + ",", class: "bold" ) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All the progress bars -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p100">
          <span>
            <span id="okr_aligned_percentage">100%</span> <br/>
            <p>aligned</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <% if(@personal_objective.count != 0) %>
          <% percentage_completed_objective = (@completed_objective.to_f / @personal_objective.count.to_f) * 100 %>
        <% else %>
          <% percentage_completed_objective = 0 %>
        <% end %>
        <div class="c100 p<%= percentage_completed_objective.to_i %>">
          <span>
            <span id="completed_objective_portion">
              <%= @completed_objective %>/<%= @personal_objective.count %>
            </span> <br/>
            <p>objectives</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @total_progress.to_i %>">
          <span>
            <span id="overall_okr_progress">
              <%= @total_progress.to_i %>%
            </span> <br/>
            <p>overall progress</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @date_difference.to_i %>">
          <span>
            <span id="last_updated">
              <% if(@personal_objective.count == 0) %>
              <%= '-' %>
              <% else %>
                <% if @date_difference < 1 %>
                  <% @date_difference = "< 1" %>
                  <%= @date_difference %>
                <% else %>
                  <%= @date_difference.to_i %>
                <% end %>                 
              <% end %>
            </span>  
            <p>days ago</p> 
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Accordion involved all the OKR progresses -->
  <div class="padding-accordion-group">
    <% if @personal_objective.count == 0 %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <div class="row">
            <h4 class="panel-title panel-title-custom">
              <p class="bold details-layout no-objective-presence">
                No Personal Objective is created by <%= @user.last_name %>
              </p>
            </h4>
          </div>
        </div>
      </div>
    <% end %>
    <% @personal_objective.each_with_index do |item,index| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
              <h4 class="panel-title panel-title-custom">
                <a class="collapsed panel-heading-a" data-toggle="collapse" data-parent="#accordion" href="#personal_obj_<%= index %>" aria-expanded="false" aria-controls="personal_obj_<%= index %>">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <% @okr_team_personal = OkrTeamPersonal.find_by(personal_objective_id: item.id) %>
                    <% @team_key_result = TeamKeyResult.find(@okr_team_personal.team_key_result_id) %>
                    <div>
                      <%= content_tag(:p, @team_key_result.key_result, class: "small details-layout" ) %>
                      <%= content_tag(:p, item.objective, class: "bold details-layout" ) %>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <!--<div class="text-center">
                      <p class="small">Contribution</p>
                      <div class="text-center">
                        <span class="bold">21%</span>
                      </div>
                    </div>-->
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="text-center">
                      <p class="small">Days left</p>
                      <div class="text-center">
                        <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:0px;">
                    <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold" ), class: "text-center") %>
                    <br />
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" style="width:<%= item.progress %>%"></div>
                    </div>
                  </div>
                </div>
                </a>
              </h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <div class="dropdown pull-right">
                <button class="btn btn-accordion" data-toggle="dropdown" type="button">
                  <i class="pg-menu"></i>   
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <!--View detailed of the personal objective-->
                    <a href="/personal_objectives/<%= item.id %>/details">
                      <i class="pg-search"></i> 
                      <span> Go to details</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="personal_obj_<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="personal_obj_<%= index %> ">
          <div class="panel-body no-padding">
            <!-- Find out the key result linked to the objective -->
            <% personal_key_result = PersonalKeyResult.where(personal_objective_id: item.id) %>
            <% personal_key_result_count = personal_key_result.count %>
            <% personal_key_result_completed = 0 %>
            <% personal_key_result.each_with_index do |item,index| %>
              <% if(item.progress == 100.00) %>
              <%    personal_key_result_completed = personal_key_result_completed + 1 %>
              <% end %>
              <div id="personal_key_result_<%= item.id %>" class="row accordion-item">
                <div class="col-lg-11 col-md-11 col-sm-11">
                  <div class="row checkbox">
                    <div class="col-lg-6 col-md-6 col-sm-6 item-content">
                      <div class="accordion-item-title">
                        <div class="checkbox-primary">
                          <% if(item.is_completed == true) %>
                          <input type="checkbox" value="0" id="personalkrcompleted_<%= item.id %>" disabled=true checked/>
                          <label for="personalkrcompleted_<%= item.id %>">
                            <p class="details-layout"><%= item.key_result %></p>
                          </label>
                          <% else %>
                          <input type="checkbox" value="1" id="personalkrcompleted_<%= item.id %>" disabled=true />
                          <label for="personalkrcompleted_<%= item.id %>">
                            <p class="details-layout"><%= item.key_result %></p>
                          </label>
                          <% end %>
                        </div> 
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <!--<div class="text-center">
                        <span class="bold">21%</span>
                      </div>-->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="text-center">
                        <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
                      <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold", id: "personal_kr_progress_" + item.id.to_s ), class: "text-center small") %>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" style="width:<%= item.progress %>%"></div>
                      </div>    
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="dropdown pull-right">
           	        <button class="btn btn-accordion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           	          <i class="pg-menu"></i>
           	        </button>
                    <ul class="dropdown-menu">
                      <li>
                        <!--View detailed of the personal key result-->
                        <a href="/personal_key_results/<%= item.id %>/details">
                          <i class="pg-search"></i> 
                           Go to details
                        </a>
                      </li>
                    </ul>
           	      </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-4 col-sm-4 bold small">
              <%= personal_key_result_count %> Key Results
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center">
                <span class="caret"></span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pull-right bold small">
                <%= personal_key_result_completed %> Completed
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <!-- END PLACE PAGE CONTENT HERE -->

</div>
<!-- END CONTAINER FLUID -->






