<!-- START JUMBOTRON -->
<div class="bg-master-lighter" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/" class="active">MY PERSONAL OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div id="page_personal_objective_details" class="bg-master-lighter" data-id="<%= @personal_objective.id %>">
  <div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h3 class="semi-bold">
        <%= @personal_objective.objective %>
        </h3>
        <br/>
        <span class="okr-details-header-info">
          <i class="glyphicon glyphicon-user fa-lg"></i>
          <span class="label-font">
            <%= @user_info.last_name %> <%= @user_info.first_name %>
          </span>
        </span>
        <span class="okr-details-header-info">
          <i class="glyphicon glyphicon-calendar fa-lg"></i>
          <span class="label-font">
            <%= @timeframe_log.quarter %>
          </span>
        </span>
        <br />
        <br />
        <hr />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pull-right padding-body">
          <div class="c100 p70">
            <span>
              <span id="okr_aligned_percentage"><%= @remaining_quarter_days.to_i %></span> <br/>
              <p>days left</p>
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="c100 p<%= @personal_objective.progress.to_i %>">
            <span>
              <span id="okr_aligned_percentage">
                <%= @personal_objective.progress.to_i %>%
              </span> <br/>
              <p>progress</p>
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <h4 class="semi-bold">Timeline</h4>
        <div class="top-circle">
          <section class="timeline">
            <% @log.each do |item| %>
              <div class="timeline-block">
                <div class="timeline-point complete">
                  <% if item.log_content.include? "Created" %>
                  <i class="pg-lock"></i>
                  <% elsif item.log_content.include? "Contributed" %>
                  <i class="pg-arrow_up"></i>
                  <% elsif item.log_content.include? "Marked" %>
                  <i class="pg-save"></i>
                  <% elsif item.log_content.include? "Deleted" %>
                  <i class="pg-trash_line"></i>
                  <% elsif item.log_content.include? "Renamed" %>
                  <i class="pg-settings"></i>
                  <% end %>
                </div>
                <div class="timeline-content">
                  <div class="card share full-width">
                    <div class="card-header clearfix">
                      <% @time_difference = Time.now - item.created_at %>
                      <% if @time_difference < 86400 %>
                        <h5><%= @user_info.last_name %> <%= @user_info.first_name %></h5>
                        <span class="small">Less than 1 day ago</span>
                      <% else %>
                      <% @day_difference = @time_difference / 86400 %>
                        <h5><%= @user_info.last_name %> <%= @user_info.first_name %></h5>
                        <% if(@day_difference.to_i > 1) %>
                        <span class="small"><%= @day_difference.to_i %> days ago</span>
                        <% else %>
                        <span class="small"><%= @day_difference.to_i %> day ago</span>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="card-description">                    
                      <p><%= raw(item.log_content) %></p>                   
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h4 class="semi-bold">Alignment</h4>
        <ul class="treeview">
          <li>
            <button class="leaf-point" title="<%= @team_kr_user_info.first_name %>">
              <%= @tkr_user_short_str %>
            </button>
            <span class="description semi-bold">
              <%= @team_key_result.key_result %>
            </span>
            
            <ul>
              <li>
                <button class="leaf-point level-2" title="<%= @user_info.first_name %>">
                  <%= @obj_user_short_str %>
                </button>
                <span class="description semi-bold">
                  <%= @personal_objective.objective %>
                </span>

                <ul>
                  <% @personal_key_results.each do |item| %>
                  <li>
                    <button class="leaf-point level-3" title="<%= @user_info.first_name %>">
                      <%= @obj_user_short_str %>
                    </button>
                    <span class="description semi-bold">
                      <%= item.key_result %>
                    </span>
                  </li>
                  <% end %>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
        <br/>
        <h4 class="semi-bold">Progress over time</h4>
        <br/>
        <div id="graph_progress_overtime" style="overflow: hidden;">
          
        </div>
      </div>
    </div>
  </div>
</div>