<!-- START JUMBOTRON -->
<div class="bg-master-lighter" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/" class="active">MY PERSONAL OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-master-lighter">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h3 class="semi-bold">
        <%= @personal_objective[0].objective %>
      </h3>
      <br/>
      <span class="okr-details-header-info">
        <i class="glyphicon glyphicon-user fa-lg"></i>
        <span class="label-font">
          <%= @user_info[0].name %>
        </span>
      </span>
      <span class="okr-details-header-info">
        <i class="glyphicon glyphicon-calendar fa-lg"></i>
        <span class="label-font">
          <%= @timeframe_log[0].quarter %>
        </span>
      </span>
      <br />
      <br />
      <hr />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pull-right padding-body">
        <div class="c100 p70">
          <span>
            <span id="okr_aligned_percentage"><%= @remaining_quarter_days.to_i %></span> <br/>
            <p>days left</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <div class="c100 p<%= @personal_objective[0].progress.to_i %>">
          <span>
            <span id="okr_aligned_percentage"><%= @personal_objective[0].progress.to_i %>%</span> <br/>
            <p>progress</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h4 class="semi-bold">Timeline</h4>
      <div class="top-circle">
        <section class="timeline">
          <% @log.each do |item| %>
            <div class="timeline-block">
              <div class="timeline-point primary">
                <% if item.log_content.include? "Created" %>
                <i class="pg-lock"></i>
                <% elsif item.log_content.include? "Contributed" %>
                <i class="pg-arrow_up"></i>
                <% elsif item.log_content.include? "Marked" %>
                <i class="pg-save"></i>
                <% end %>
              </div>
              <div class="timeline-content">
                <div class="card share full-width">
                  <div class="card-header clearfix">
                    <% @time_difference = Time.now - item.created_at %>
                    <% if @time_difference < 86400 %>
                      <h5><%= @user_info[0].name %></h5>
                      <span class="small">Less than 1 day ago</span>
                    <% else %>
                    <% @day_difference = @time_difference / 86400 %>
                      <h5><%= @user_info[0].name %></h5>
                      <% if(@day_difference.to_i > 1) %>
                      <span class="small"><%= @day_difference.to_i %> days ago</span>
                      <% else %>
                      <span class="small"><%= @day_difference.to_i %> day ago</span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="card-description">                    
                    <p><%= raw(item.log_content) %></p>                   
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </section>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4 class="semi-bold">Alignment</h4>
      <div class="list-group list-group-root">
        <ul class="list-group">
          <li class="list-group-item">
            <i class="pg-arrow_right"></i>
            <%= @team_key_result[0].key_result %>
            <ul class="list-group">
              <li class="list-group-item">
                <i class="pg-map"></i>
                <%= @personal_objective[0].objective %>
                <ul class="list-group">
                  <% @personal_key_results.each do |item| %>
                  <li class="list-group-item">
                    <i class="pg-arrow_right"></i>
                    <%= item.key_result %>
                  </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>