<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/users/<%= @other_user.id %>/personal_objectives/view_others_personal_okr" class="active"><%= @other_user.last_name %> PERSONAL OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">

  <div class="row">
    <!-- User related information and percentage of OKR aligned -->
    <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
      <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
        <%= image_tag @other_user.avatar.url %>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="row m-b-10">
          <span class="dashboard-title">
            <%= @other_user.last_name + " " + @other_user.first_name %>
          </span>
          <span class="m-l-10" data-id="<%= current_user.id %>">
            <% current_user_fav = OkrUserFavourite.find_by(user_id: current_user.id, favourite_id: @other_user.id) %>
            <% if current_user_fav != nil %>
            <a id="btn_remove_fav_user" class="btn btn-warning no-padding" data-id="<%= current_user_fav.id %>">
              <i class="fa fa-fw fa-star-o fa-lg"></i>
            </a>
            <% else %>
            <a id="btn_fav_user" class="btn btn-default no-padding" data-id="<%= @other_user.id %>">
              <i class="fa fa-fw fa-star-o fa-lg"></i>
            </a>
            <% end %>
          </span>
        </div>
        <div class="row">
          <div class="form-group">
            <label>ROLE</label>
            <%= content_tag(:div, content_tag(:p, @other_user_role.name, class: "name" )) %>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>TEAMS</label>
            <div>
              <%  @other_user.okr_teams.each_with_index do |team,index|  %>  
                <% if index == @other_user.okr_teams.size - 1 %>
                  <%= content_tag(:span, team.name, class: "name" ) %>
                <% else %>
                  <%= content_tag(:span, team.name + ",", class: "name" ) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All the progress bars -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p100 green">
          <span>
            <span id="okr_aligned_percentage">100%</span> <br/>
            <p>aligned</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <% if(@personal_objective.count != 0) %>
          <% percentage_completed_objective = (@completed_objective.to_f / @personal_objective.count.to_f) * 100 %>
        <% else %>
          <% percentage_completed_objective = 0 %>
        <% end %>
        <div class="c100 p<%= percentage_completed_objective.to_i %> orange">
          <span>
            <span id="completed_objective_portion">
              <%= @completed_objective %>/<%= @personal_objective.count %>
            </span> <br/>
            <p>objectives</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @total_progress.to_i %>">
          <span>
            <span id="overall_okr_progress">
              <%= @total_progress.to_i %>%
            </span> <br/>
            <p>overall progress</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @date_difference.to_i %> red">
          <span>
            <span id="last_updated">
              <% if(@personal_objective.count == 0) %>
              <%= '-' %>
              <% else %>
                <% if @date_difference < 1 %>
                  <% @date_difference = "< 1" %>
                  <%= @date_difference %>
                <% else %>
                  <%= @date_difference.to_i %>
                <% end %>                 
              <% end %>
            </span>  
            <p>days ago</p> 
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Accordion involved all the OKR progresses -->
  <div class="layout-accordion-group">
    <% if @personal_objective.count == 0 %>
    <div class="panel panel-default panel-heading">
      <h4 class="panel-title panel-title-custom bold details-layout m-l-20">
        No Personal Objective is created by <%= @other_user.last_name %>
      </h4>
    </div>
    <% end %>
    <% @personal_objective.each_with_index do |item,index| %>
      <div class="panel">
        <div class="custom-panel-heading" role="tab">
          <div class="col-lg-11 col-md-11 col-sm-11">
            <a class="collapsed panel-heading-a" data-toggle="collapse" data-parent="#accordion" href="#personal_obj_<%= index %>" aria-expanded="false" aria-controls="personal_obj_<%= index %>">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                <% @okr_team_personal = OkrTeamPersonal.find_by(personal_objective_id: item.id) %>
                <% if @okr_team_personal != nil %>
                  <% @team_key_result = TeamKeyResult.find(@okr_team_personal.team_key_result_id) %>
                  <%= content_tag(:p, @team_key_result.key_result, class: "accordion-header-title" ) %>
                <% else %>
                  <% @okr_company_personal = OkrCompanyPersonal.find_by(personal_objective_id: item.id) %>
                  <% @company_key_result = CompanyKeyResult.find(@okr_company_personal.company_key_result_id) %>
                  <%= content_tag(:p, @company_key_result.key_result, class: "accordion-header-title" ) %>
                <% end %>
                <div class="accordion-obj-title">
                  <%= item.objective %>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 no-padding text-center">
                <p class="accordion-header-title">Days left</p>
                <% if @selected_timeframe.id == @system_timeframe_log_id %>
                <span class="accordion-obj-subtitle"><%= @remaining_quarter_days.to_i %></span>
                <% elsif @selected_timeframe.id < @system_timeframe_log_id %>
                <span class="accordion-obj-subtitle"><%= 0 %></span>
                <% end %>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:0px;">
                <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold" ), class: "text-center accordion-obj-subtitle m-b-10") %>
                <div class="progress">
                  <div class="progress-bar progress-bar-complete" style="width:<%= item.progress %>%"></div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
            <div class="dropdown pull-right">
              <button class="btn btn-accordion no-padding p-t-10" data-toggle="dropdown" type="button">
                <i class="pg-menu"></i>   
              </button>
              <ul class="dropdown-menu">
                <li>
                  <!--View detailed of the personal objective-->
                  <a href="/personal_objectives/<%= item.id %>/details">
                    <i class="pg-search"></i> 
                    <span> Go to details</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="personal_obj_<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="personal_obj_<%= index %> ">
          <div class="panel-body no-padding">
            <!-- Find out the key result linked to the objective -->
            <% personal_key_result = PersonalKeyResult.where(personal_objective_id: item.id) %>
            <% personal_key_result_count = personal_key_result.count %>
            <% personal_key_result_completed = 0 %>
            <% personal_key_result.each_with_index do |item,index| %>
              <% if(item.progress == 100.00) %>
              <%   personal_key_result_completed = personal_key_result_completed + 1 %>
              <% end %>
              <div id="personal_key_result_<%= item.id %>" class="row accordion-item custom-accordion-item">
                <div class="col-lg-11 col-md-11 col-sm-11 no-padding">
                  <div class="checkbox">
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                      <div class="accordion-item-title">
                        <% if item.is_completed == true %>
                        <input type="checkbox" value="0" id="personalkrcompleted_<%= item.id %>" disabled="true" checked/>
                        <label for="personalkrcompleted_<%= item.id %>">
                          <p class="key-result"><%= raw(item.key_result) %></p>
                        </label>
                        <% else %>
                        <% if @selected_timeframe.id != @system_timeframe_log_id %>
                        <input type="checkbox" value="1" id="personalkrcompleted_<%= item.id %>" disabled="true"/>
                        <% else %>
                        <input type="checkbox" value="1" id="personalkrcompleted_<%= item.id %>" name="personal_kr_checkbox" disabled="true"/>
                        <% end %>
                        <label for="personalkrcompleted_<%= item.id %>">
                          <p class="key-result"><%= raw(item.key_result) %></p>
                        </label>
                        <% end %> 
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <!--<div class="text-center">
                        <span class="bold">21%</span>
                      </div>-->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="text-center">
                        <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
                      <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold", id: "personal_kr_progress_" + item.id.to_s ), class: "text-center small") %>
                      <div class="progress">
                        <div class="progress-bar progress-bar-complete" style="width:<%= item.progress %>%"></div>
                      </div>    
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 no-padding">
                  <div class="dropdown pull-right">
           	        <button class="btn btn-accordion no-padding p-t-10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           	          <i class="pg-menu"></i>
           	        </button>
                    <ul class="dropdown-menu">
                      <li>
                        <!--View detailed of the personal key result-->
                        <a href="/personal_key_results/<%= item.id %>/details">
                          <i class="pg-search"></i> 
                           Go to details
                        </a>
                      </li>
                    </ul>
           	      </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row no-margin no-padding">
            <div class="col-md-4 col-sm-4 bold small">
              <%= personal_key_result_count %> Key Results
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <a data-toggle="collapse" data-parent="#accordion" href="#personal_obj_<%= index %>" aria-expanded="false" aria-controls="personal_obj_<%= index %>" class="btn sidebar-slide-toggle btn-link no-padding no-margin">
                <i class="fa fa-angle-down fs-16"></i>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 bold small completed-key-result text-right">
              <%= personal_key_result_completed %> Completed
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <!-- END PLACE PAGE CONTENT HERE -->

</div>
<!-- END CONTAINER FLUID -->






