<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a class="active">ROLE SECURITY</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <h5 class="semi-bold">
    Security and Role Settings
  </h5>
  <hr/>
  <div>
    <div class="btn-group" data-toggle="buttons">
      <% @okr_roles.each_with_index do |item, index| %>
      <% if index == 0 %>
        <label name="radio_btn_okr_role" class="btn btn-complete active">
      <% else %>
        <label name="radio_btn_okr_role" class="btn btn-complete">
      <% end %>
          <input type="radio" name="options" data-id="okr_role_<%= item.id %>"/>
          <%= item.name %>
        </label>
      <% end %>
    </div>
    <div class="pull-right">
      <button id="btn_create_role_overlay" class="btn btn-complete">Create Role</button>
    </div>
  </div>
  <br/>
  <br/>
  <% @okr_roles.each_with_index do |role, index| %>
  <% if index == 0 %>
  <div id="okr_role_<%= role.id %>_panel" name="okr_role_control_panel" class="panel" data-id="<%= role.id %>">
    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-complete" role="tablist" data-init-reponsive-tabs="collapse">
      <% @control_types.each_with_index do |item, index| %>
      <% if index == 0 %>
      <li class="active">
        <a href="#security_tab_<%= item.id %>_<%= role.id %>" data-toggle="tab" role="tab"><%= item.okr_system_type %></a>
      </li>
      <% else %>
      <li>
        <a href="#security_tab_<%= item.id %>_<%= role.id %>" data-toggle="tab" role="tab"><%= item.okr_system_type %></a>
      </li>
      <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @control_types.each_with_index do |item, index| %>
      <% okr_controls = Control.where(control_type_id: item.id) %>
      <% if index == 0 %>
      <div id="security_tab_<%= item.id %>_<%= role.id %>" class="tab-pane active">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 50%">Controls</th>
              <th style="width: 50%">Selections</th>
            </tr>
          </thead>
          <tbody>
            <% okr_controls.each do |element| %>
            <tr>
              <td class="bold">
                <div class="checkbox">
                  <%= element.details %>
                </div>
              </td>
              <td>
                <div class="checkbox check-complete">
                  <% okr_role_control = OkrRoleControl.find_by(okr_role_id: role.id, control_id: element.id) %>
                  <% if okr_role_control != nil %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="checked_security_checkbox" type="checkbox" data-id="<%= okr_role_control.id %>" checked/>
                  <% else %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="security_checkbox" type="checkbox" data-id="<%= element.id %>"/>
                  <% end %>
                  <label for="<%= item.id %>_<%= element.id %>_<%= role.id %>"></label>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <div id="security_tab_<%= item.id %>_<%= role.id %>" class="tab-pane">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 50%">Controls</th>
              <th style="width: 50%">Selections</th>
            </tr>
          </thead>
          <tbody>
            <% okr_controls.each do |element| %>
            <tr>
              <td class="bold">
                <div class="checkbox">
                  <%= element.details %>
                </div>
              </td>
              <td>
                <div class="checkbox check-complete">
                  <% okr_role_control = OkrRoleControl.find_by(okr_role_id: role.id, control_id: element.id) %>
                  <% if okr_role_control != nil %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="checked_security_checkbox" type="checkbox" data-id="<%= okr_role_control.id %>" checked/>
                  <% else %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="security_checkbox" type="checkbox" data-id="<%= element.id %>"/>
                  <% end %>
                  <label for="<%= item.id %>_<%= element.id %>_<%= role.id %>"></label>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% else %>
  <div id="okr_role_<%= role.id %>_panel" name="okr_role_control_panel" class="panel" style="display:none;" data-id="<%= role.id %>">
    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-complete" role="tablist" data-init-reponsive-tabs="collapse">
      <% @control_types.each_with_index do |item, index| %>
      <% if index == 0 %>
      <li class="active">
        <a href="#security_tab_<%= item.id %>_<%= role.id %>" data-toggle="tab" role="tab"><%= item.okr_system_type %></a>
      </li>
      <% else %>
      <li>
        <a href="#security_tab_<%= item.id %>_<%= role.id %>" data-toggle="tab" role="tab"><%= item.okr_system_type %></a>
      </li>
      <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @control_types.each_with_index do |item, index| %>
      <% okr_controls = Control.where(control_type_id: item.id) %>
      <% if index == 0 %>
      <div id="security_tab_<%= item.id %>_<%= role.id %>" class="tab-pane active">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 50%">Controls</th>
              <th style="width: 50%">Selections</th>
            </tr>
          </thead>
          <tbody>
            <% okr_controls.each do |element| %>
            <tr>
              <td class="bold">
                <div class="checkbox">
                  <%= element.details %>
                </div>
              </td>
              <td>
                <div class="checkbox check-complete">
                  <% okr_role_control = OkrRoleControl.find_by(okr_role_id: role.id, control_id: element.id) %>
                  <% if okr_role_control != nil %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="checked_security_checkbox" type="checkbox" data-id="<%= okr_role_control.id %>" checked/>
                  <% else %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="security_checkbox" type="checkbox" data-id="<%= element.id %>"/>
                  <% end %>
                  <label for="<%= item.id %>_<%= element.id %>_<%= role.id %>"></label>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <div id="security_tab_<%= item.id %>_<%= role.id %>" class="tab-pane">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 50%">Controls</th>
              <th style="width: 50%">Selections</th>
            </tr>
          </thead>
          <tbody>
            <% okr_controls.each do |element| %>
            <tr>
              <td class="bold">
                <div class="checkbox">
                  <%= element.details %>
                </div>
              </td>
              <td>
                <div class="checkbox check-complete">
                  <% okr_role_control = OkrRoleControl.find_by(okr_role_id: role.id, control_id: element.id) %>
                  <% if okr_role_control != nil %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="checked_security_checkbox" type="checkbox" data-id="<%= okr_role_control.id %>" checked/>
                  <% else %>
                  <input id="<%= item.id %>_<%= element.id %>_<%= role.id %>" name="security_checkbox" type="checkbox" data-id="<%= element.id %>"/>
                  <% end %>
                  <label for="<%= item.id %>_<%= element.id %>_<%= role.id %>"></label>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
      <% end %>
    </div> 
  </div>
  <% end %>
  <% end %>
</div>
<!-- END CONTAINER FLUID -->

<!--Overlay for add new role-->
<div id="overlay_new_role" class="overlay hide">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/role" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 centralize">
        <div class="row">
          <h5 class="m-b-5">
            <span class="bold result-name">
            	Create Role
            </span>
          </h5>
          <br/>
          <p>Warning: Once created, role cannot be deleted. Please be mindful when create a new role.</p>
          <br/>
        </div>
        <div class="row"> 
          <div class="form-group form-group-default required">
            <label>Role Name</label>
            <input id="new_role_name" type="text" class="form-control" placeholder="Admin" required/>
          </div>
          <div class="form-group form-group-default required">
            <label>Role Description</label>
            <input id="new_role_description" type="text" placeholder="Admin controls everything in the system." class="form-control" required/>
          </div>
          <br/>
          <div class="form-group">
            <div class="text-right">
              <a href="/role" class="btn btn-default btn-rounded btn-cons">Cancel</a>
              <button id="btn_new_role" class="btn btn-complete btn-rounded btn-cons">Submit</button>
            </div>
          </div>        
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
</div>