<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/users" class="active">SYSTEM USERS</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid">
  <div class="col-md-6 col-sm-6">
    <h5 class="semi-bold">
      System Users
    </h5>
  </div>
  <div class="col-md-6 col-sm-6">
    <button id="btn_create_new_user_overlay" class="btn btn-complete btn-cons btn-rounded btn-lg bold pull-right">
      Create New
    </button>
  </div>
</div>
<br/>
<div class="container-fluid container-fixed-lg">
  <div class="panel">
    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-complete" role="tablist" data-init-reponsive-tabs="collapse">
      <li class="active">
        <a href="#all_users_list_tab" data-toggle="tab" role="tab">All (<%= @users.count %>)</a>
      </li>
      <li>
        <a href="#employees_list_tab" data-toggle="tab" role="tab">Employee (<%= @employees.count %>)</a>
      </li>
      <li>
        <a href="#team_leads_list_tab" data-toggle="tab" role="tab">Team Lead (<%= @team_leads.count %>)</a>
      </li>
      <li>
        <a href="#admins_list_tab" data-toggle="tab" role="tab">Admin (<%= @admins.count %>)</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="all_users_list_tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:1%" class="text-center">
                <i class="fa fa-fw fa-image fa-lg"></i>
              </th>
              <th style="width:10%">
                FIRST NAME
              </th>
              <th style="width:15%">
                LAST NAME
              </th>
              <th style="width:10%">
                ROLE
              </th>
              <th style="width:25%">
                EMAIL
              </th>
              <th style="width:19%">
                LAST UPDATED
              </th>
              <th style="width:20%">
                ACTIONS
              </th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td class="v-align-middle">
                <span class="thumbnail-wrapper d32 circular inline">
                <%= image_tag user.avatar.url %>
                </span>
              </td>
              <td class="bold"><%= user.first_name %></td>
              <td class="bold">
                <%= user.last_name %>  
              </td>
              <td><%= user.okr_role.try(:name) %></td>
              <td><%= user.email %></td>
              <td><%= user.updated_at %></td>
              <td>
                <span class="col-md-6 col-sm-6">
                <a name="link_edit_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-pencil"></i> Edit
                </a>
                </span>
                <span class="col-md-6 col-sm-6">
                <a name="link_delete_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-trash-o"></i> Delete
                </a>
                </span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="employees_list_tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:1%" class="text-center">
                <i class="fa fa-fw fa-image fa-lg"></i>
              </th>
              <th style="width:10%">
                FIRST NAME
              </th>
              <th style="width:15%">
                LAST NAME
              </th>
              <th style="width:10%">
                ROLE
              </th>
              <th style="width:25%">
                EMAIL
              </th>
              <th style="width:19%">
                LAST UPDATED
              </th>
              <th style="width:20%">
                ACTIONS
              </th>
            </tr>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
            <% user = User.find(employee.user_id) %>
            <tr>
              <td class="v-align-middle">
                <span class="thumbnail-wrapper d32 circular inline">
                <%= image_tag user.avatar.url %>
                </span>
              </td>
              <td class="bold"><%= user.first_name %></td>
              <td class="bold">
                <%= user.last_name %>  
              </td>
              <td><%= user.okr_role.try(:name) %></td>
              <td><%= user.email %></td>
              <td><%= user.updated_at %></td>
              <td>
                <span class="col-md-6 col-sm-6">
                <a name="link_edit_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-pencil"></i> Edit
                </a>
                </span>
                <span class="col-md-6 col-sm-6">
                <a name="link_delete_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-trash-o"></i> Delete
                </a>
                </span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="team_leads_list_tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:1%" class="text-center">
                <i class="fa fa-fw fa-image fa-lg"></i>
              </th>
              <th style="width:10%">
                FIRST NAME
              </th>
              <th style="width:15%">
                LAST NAME
              </th>
              <th style="width:10%">
                ROLE
              </th>
              <th style="width:25%">
                EMAIL
              </th>
              <th style="width:19%">
                LAST UPDATED
              </th>
              <th style="width:20%">
                ACTIONS
              </th>
            </tr>
          </thead>
          <tbody>
            <% @team_leads.each do |team_lead| %>
            <% user = User.find(team_lead.user_id) %>
            <tr>
              <td class="v-align-middle">
                <span class="thumbnail-wrapper d32 circular inline">
                <%= image_tag user.avatar.url %>
                </span>
              </td>
              <td class="bold"><%= user.first_name %></td>
              <td class="bold">
                <%= user.last_name %>  
              </td>
              <td><%= user.okr_role.try(:name) %></td>
              <td><%= user.email %></td>
              <td><%= user.updated_at %></td>
              <td>
                <span class="col-md-6 col-sm-6">
                <a name="link_edit_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-pencil"></i> Edit
                </a>
                </span>
                <span class="col-md-6 col-sm-6">
                <a name="link_delete_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-trash-o"></i> Delete
                </a>
                </span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="admins_list_tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:1%" class="text-center">
                <i class="fa fa-fw fa-image fa-lg"></i>
              </th>
              <th style="width:10%">
                FIRST NAME
              </th>
              <th style="width:15%">
                LAST NAME
              </th>
              <th style="width:10%">
                ROLE
              </th>
              <th style="width:25%">
                EMAIL
              </th>
              <th style="width:19%">
                LAST UPDATED
              </th>
              <th style="width:20%">
                ACTIONS
              </th>
            </tr>
          </thead>
          <tbody>
            <% @admins.each do |admin| %>
            <% user = User.find(admin.user_id) %>
            <tr>
              <td class="v-align-middle">
                <span class="thumbnail-wrapper d32 circular inline">
                <%= image_tag user.avatar.url %>
                </span>
              </td>
              <td class="bold"><%= user.first_name %></td>
              <td class="bold">
                <%= user.last_name %>  
              </td>
              <td><%= user.okr_role.try(:name) %></td>
              <td><%= user.email %></td>
              <td><%= user.updated_at %></td>
              <td>
                <span class="col-md-6 col-sm-6">
                <a name="link_edit_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-pencil"></i> Edit
                </a>
                </span>
                <span class="col-md-6 col-sm-6">
                <a name="link_delete_user" data-id="<%= user.id %>">
                  <i class="fa fa-fw fa-trash-o"></i> Delete
                </a>
                </span>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->

<!--Create new user overlay-->
<div class="overlay hide" id="overlay_create_new_user">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/users" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="container-fluid">
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <h5 class="m-b-5">
            <span class="bold result-name">
            	Create New User
            </span>
          </h5>
          <br/>
          <p>Fill in the fields in order to create a new user. The user will be active after the first sign-in.</p>
        </div>
        <div class="row">
          <%= form_for @user, url: { action: "create_member" } do |f| %>
            <div class="form-group form-group-default required">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@gmail.com", required: true %>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default required">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Smith", required: true %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default required">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "John", required: true %>
                </div>
              </div>
            </div>

            <div class="form-group form-group-default required">
              <%= f.label :position %>
              <%= f.text_field :position, autofocus: true, class: "form-control", placeholder: "UI/UX Designer", required: true %>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default required">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-group-default required">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :status %><br />
              <%= select("status", "status_const", @user_status_selection, {include_blank: false}, class: "form-control") %>
            </div>

            <div class="form-group">
              <%= f.label :avatar %><br />
              <%= f.file_field :avatar, class: "form-control" %>
            </div>

            <% roles_array = OkrRole.all.map { |role| [role.name, role.id] } %>
            <div class="form-group">
              <%= f.label :role %><br />
              <%= select("role", "role_id", roles_array, {include_blank: false}, class: "form-control") %>
            </div>
            <br/>

            <div class="form-group">
              <div class="text-right">
                <a href="/users" class="btn btn-default btn-rounded btn-cons">Cancel</a>
                <%= f.submit "Submit", class: "btn btn-complete btn-rounded btn-cons" %>
              </div>
            </div>
          <% end %>        
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
</div>

<!--User created overlay-->
<div class="overlay hide" id="overlay_user_created_notification">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/users" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="container-fluid">
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 centralize">
        <div class="text-center">
          <img src="/user_created.png" class="icon-large"/>
          <h5 class="m-b-5">
            <span class="bold result-name">
            	User Created!
            </span>
          </h5>
          <p>Email has been sent. Soon the new user shall be active.</p>
          <br />
          <a href="/users" class="btn btn-default btn-rounded">
            Back to the App
          </a>
        </div>       
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
</div>