<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>HOME</p>
        </li>
        <li>
          <a href="/team/<%= @team_id %>/team_objectives/team_dashboard" class="active"><%= @okr_team.name %> TEAM OKRs</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg" id="team_page_container" data-id="<%= @team_id %>">

  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <h5 class="semi-bold"><%= @okr_team.name %> team OKRs</h5>

  <div class="row">
    <!-- User related information and percentage of OKR aligned -->
    <div class="col-lg-5 col-md-5 col-sm-5 padding-body">
      <div class="col-lg-5 col-md-5 col-sm-5 padding-body text-center">
        <h1><%= @team_short_str %></h1>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7" >
        <div class="row">
          <h5 class="bold">
            <span>
              <%= @okr_team.name %>
            </span>
            <span class="p-l-10">
              <button id="team_setting" class="btn btn-default no-padding">
                <i class="fa fa-fw fa-gears fa-lg"></i>
              </button>
            </span>
          </h5>
        </div>
        <div class="row">
          <div class="form-group">
            <label>TEAM LEAD/PM</label>
            <p class="bold"><%= @team_lead %></p>
          </div>
          <div class="form-group">
            <label>TEAM MEMBERS</label>
            <br />
            <% @team_users.each do |item| %>
            <span title="<%= item.first_name %>" class="thumbnail-wrapper d32 circular inline m-t-5">
              <%= image_tag item.avatar.url %>
            </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- All the progress bars -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p100">
          <span>
            <span id="okr_aligned_percentage">100%</span> <br/>
            <p>aligned</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <% if(@team_objective.count != 0) %>
        <% @percentage_completed_objective = (@completed_objective.to_f / @team_objective.count.to_f) * 100 %>
        <% else %>
        <% @percentage_completed_objective = 0 %>
        <% end %>
        <div class="c100 p<%= @percentage_completed_objective.to_i %>">
          <span>
            <span id="completed_objective_portion">
              <%= @completed_objective %>/<%= @team_objective.count %>
            </span> <br/>
            <p>objectives</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @total_progress.to_i %>">
          <span>
            <span id="overall_okr_progress">
              <%= @total_progress.to_i %>%
            </span> <br/>
            <p>overall progress</p>
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 padding-body">
        <div class="c100 p<%= @date_difference.to_i %>">
          <span>
            <span id="last_updated">
              <% if(@team_objective.count == 0) %>
              <%= '-' %>
              <% else %>
                <% if @date_difference < 1 %>
                  <% @date_difference = "< 1" %>
                  <%= @date_difference %>
                <% else %>
                  <%= @date_difference.to_i %>
                <% end %>                 
              <% end %>
            </span>  
            <p>days ago</p> 
          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Accordion involved all the OKR progresses -->
  <div class="padding-accordion-group">
    <% if @team_objective.count == 0 %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <div class="row">
            <h4 class="panel-title panel-title-custom collapsed">
              <p class="bold details-layout no-objective-presence">
                No Team Objective is presence for this team
              </p>
            </h4>
          </div>
        </div>
      </div>
    <% end %>
    <% @team_objective.each_with_index do |item,index| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
              <h4 class="panel-title panel-title-custom">
                <a class="collapsed panel-heading-a" data-toggle="collapse" data-parent="#accordion" href="#team_obj_<%= index %>" aria-expanded="false" aria-controls="team_obj_<%= index %>">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <% @okr_company_team = OkrCompanyTeam.where(team_objective_id: item.id) %>
                    <% @company_key_result = CompanyKeyResult.where(id: @okr_company_team[0].company_key_result_id) %>
                    <%= content_tag(:p, @company_key_result[0].key_result, class: "small details-layout" ) %>
                    <div id="team_objective_<%= item.id %>" data-id="<%= @team_id %>">
                      <p class="bold details-layout">
                        <%= item.objective %>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="pull-left">
                      <% if(item.progress != 100.00) %>
                      <button class="btn btn-accordion edit_team_objective" data-id="<%= item.id %>">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <!--<div class="text-center">
                      <p class="small">Contribution</p>
                      <div class="text-center">
                        <span class="bold">21%</span>
                      </div>
                    </div>-->
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="text-center">
                      <p class="small">Days left</p>
                      <div class="text-center">
                        <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3" style="padding-left:0px;">
                    <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold" ), class: "text-center") %>
                    <br />
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" style="width:<%= item.progress %>%"></div>
                    </div>
                  </div>
                </div>
                </a>
              </h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <div class="dropdown pull-right">
                <button class="btn btn-accordion" data-toggle="dropdown" type="button">
                  <i class="pg-menu"></i>   
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <!--View detailed of the personal key result-->
                    <a href="/team/<%= @team_id %>/team_objectives/<%= item.id %>/details">
                      <i class="pg-search"></i> 
                      <span> Go to details</span>
                    </a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#confirmation_obj_deletion_modal_<%= item.id %>">
                      <i class="fa fa-fw fa-trash-o"></i> 
                      <span> Delete</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Confirmation Modal before personal objective deletion -->
        <div id="confirmation_obj_deletion_modal_<%= item.id %>" class="modal fade stick-up" role="dialog">
          <div class="modal-dialog">                   
            <!-- Modal content-->
            <div style="background:#ffffff;">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
              </div>
              <hr/>
              <div class="modal-body">
                <div class="form-group">
                  <p>Are you sure? </p>
                </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-danger" rel="nofollow" data-method="delete" href="/team/<%= @team_id %>/team_objectives/<%= item.id %>">
                  Delete
                </a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>                
          </div>
        </div>
        <div id="team_obj_<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="team_obj_<%= index %> ">
          <div class="panel-body no-padding">
            <!-- Find out the key result linked to the objective -->
            <% @team_key_result = TeamKeyResult.where(team_objective_id: item.id).order(updated_at: :DESC) %>
            <% @team_key_result_count = @team_key_result.count %>
            <% @team_key_result_completed = 0 %>
            <% @team_key_result.each_with_index do |item,index| %>
              <% if(item.progress == 100.00) %>
              <%    @team_key_result_completed = @team_key_result_completed + 1 %>
              <% end %>
              <div class="row accordion-item" id="team_kr_<%= item.id %>">
                <div class="col-lg-11 col-md-11 col-sm-11">
                  <div class="row checkbox">
                    <div class="col-lg-6 col-md-6 col-sm-6 item-content">
                      <div class="accordion-item-title">
                        <div class="checkbox-primary">
                          <p class="details-layout"><%= item.key_result %></p>
                        </div> 
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <div class="pull-left">
                        <% if(item.progress != 100.00) %>
                        <button class="btn btn-accordion edit_team_key_result" name="teamkr_<%= item.id %>" data-id="<%= item.id %>">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <!--<div class="text-center">
                        <span class="bold">21%</span>
                      </div>-->
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <div class="text-center">
                        <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
                      <%= content_tag(:div, content_tag(:span, item.progress.to_s + "%", class: "bold", id: "personal_kr_progress_" + item.id.to_s ), class: "text-center small") %>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" style="width:<%= item.progress %>%"></div>
                      </div>    
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="dropdown pull-right">
           	        <button class="btn btn-accordion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           	          <i class="pg-menu"></i>
           	        </button>
                    <ul class="dropdown-menu">
                      <li>
                        <!--View detailed of the personal key result-->
                        <a href="/team/<%= @team_id %>/team_key_results/<%= item.id %>/details">
                          <i class="pg-search"></i> 
                           Go to details
                        </a>
                      </li>
                      <li>
                        <!-- Deletion of key result -->
                        <a data-toggle="modal" data-target="#confirmation_kr_deletion_modal_<%= item.id %>">
                          <i class="pg-trash_line"></i> 
                           Delete
                        </a>
                      </li>
                    </ul>
           	      </div>
                </div>
              </div>
              <!-- Confirmation modal for team key result deletion -->
              <div id="confirmation_kr_deletion_modal_<%= item.id %>" class="modal fade stick-up" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-background">
                    <div class="modal-header clearfix text-left">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Warning</h4>
                    </div>
                    <hr/>
                    <div class="modal-body">
                      <div class="form-group">
                        <p id="prompt_message">Are you sure?</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-danger" rel="nofollow" data-method="delete" href="/team/<%= @team_id %>/team_key_results/<%= item.id %>">
                        Delete
                      </a>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                
                </div>
              </div>
            <% end %>
            <!-- New row for the add in of new key results over here -->
            <div class="row accordion-item add-new-team-key-result">
              <input name="new_team_key_result" data-id="<%= item.id %>" type="text" class="form-control form-new-key-result" placeholder="Add new team key result"/>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-4 col-sm-4 bold small">
              <%= @team_key_result_count %> Key Results
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="text-center">
                <span class="caret"></span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pull-right bold small">
                <%= @team_key_result_completed %> Completed
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title panel-title-custom">
            <div id="add-new-team-objective">
              <input id="new_team_objective" type="text" class="form-control form-new-key-result" placeholder="Add new objective"/>
            </div>
        </h4>
      </div>
    </div>
  </div>

  <!-- END PLACE PAGE CONTENT HERE -->

</div>
<!-- END CONTAINER FLUID -->

<!-- Popup for the new objective -->
<div class="overlay hide" id="new_objective_popup">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
    </div>
    <div class="centralize">
      <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <h5 class="m-b-5">
              <span class="semi-bold result-name">
              	New Team Objective
              </span>
            </h5>
            <hr />
            <br />
          </div>      
          <div class="row">
            <form role="form">
              <div class="form-group">
                <label>Select the alignment Company Key Result</label>
                <!--Load all the key result of the particular team-->
                <select id="company_key_result_selection" class="full-width" data-init-plugin="select2">
                  <% @company_key_results.each_with_index do |item,index| %>
                    <option value="<%= item.id %>"><%= item.key_result %></option>
                  <% end %>                             
                </select>
              </div>
            </form>
            <br />
            <div class="form-group form-group-default">
              <label>OBJECTIVE TITLE</label>
              <textarea id="team_objective_textarea" class="form-control textarea-custom" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="pull-right">
              <a href="/team/<%= @team_id %>/team_objectives/team_dashboard" class="btn btn-default btn-cons btn-rounded m-t-10">
                Cancel
              </a>
              <button id="btn_new_team_objective" data-id="<%= @team_id %>" class="btn btn-complete btn-cons btn-rounded m-t-10" disabled="true">
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Popup for the new teammate invitation-->
<div class="overlay hide" id="teammate_list">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <a href="/team/<%= @team_id %>/team_objectives/team_dashboard" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 centralize">
        <div class="row">
          <h5 class="m-b-5">
            <span class="bold result-name">
              <%= @okr_team.name %> team 
            </span>
          </h5>
          <hr />
        </div>
        <div class="row">
          <div class="panel panel-transparent">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-linetriangle" data-init-reponsive-tabs="dropdownfx">
              <li class="active">
                <a data-toggle="tab" href="#team_details">
                  <span>Team Details</span>
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#team_members">
                  <span>Team Members (<%= @team_users.count %>)</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="team_details">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <h1 class="text-center centralize">
                    <%= @team_short_str %>
                  </h1>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="form-group form-group-default">
                    <label>TEAM NAME</label>
                    <input id="team_name_input" class="form-control" value="<%= @okr_team.name %> team" disabled="true"/>
                  </div>
                  <div class="form-group form-group-default">
                    <label>TL / PM / PO</label>
                    <input id="team_lead_input" class="form-control" value="<%= @team_lead %>" disabled="true"/>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="team_members">
                <% @team_users.each_with_index do |item, index| %>
                  <% @team_user = User.find(item.id) %> 
                  <% okr_user_team = OkrUserTeam.find_by(user_id: item.id, okr_team_id: @team_id) %>
                  <div class="row checkbox">
                    <div class="col-lg-10 col-md-10 col-sm-10 checkbox-primary">
                      <span class="thumbnail-wrapper d32 circular inline">
                        <%= image_tag @team_user.avatar.url %>
                        <%= @team_user.last_name %>
                      </span>
                      <span class="bold m-l-20">
                        <%= @team_user.last_name %> <%= @team_user.first_name %>
                      </span>
                      <% if okr_user_team.status == "PENDING" %>
                      <span class="m-l-20">
                        <button class="btn btn-danger btn-rounded btn-xs" disabled=true>
                          Pending
                        </button>
                      </span>
                      <% end %>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <div class="pull-right">
                        <button data-id="<%= okr_user_team.id %>" name="btn_remove_team_user" class="btn btn-accordion no-padding">
                          <i class="pg-close"></i>
                        </button>
                      </div>
                    </div>
                  </div>  
                  <hr/>       
                <% end %>
                <select id="user_invitation_selection" style="width: 100%;">
                  <% @users_not_in_team.each do |item| %>
                    <% user_info = User.find(item) %>
                    <option value="<%= user_info.id %>">
                      <%= user_info.last_name %> <%= user_info.first_name %>
                    </option>
                  <% end %>
                </select>
                <hr/>
                <button id="btn_invite_new_member" class="btn btn-complete btn-rounded btn-cons pull-right" data-id="<%= current_user.id %>">
                  Invite New Member
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
</div>




