<div class="container">
    <div class="row">
        <ul class="breadcrumb">
          <li><a href="/app/dashboard">Dashboard</a></li>
          <li>View Teams</li>
        </ul>
    </div>
    <div class="row">
        <h2>View Teams</h2>

        <table>
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Team Description</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>        

          <tbody>
            <% @okr_teams.each do |okr_team| %>
              <tr>
                <td><%= okr_team.name %></td>
                <td><%= okr_team.description %></td>
                <td><%= link_to 'Show', okr_team %></td>
                <td><%= link_to 'Edit', edit_okr_team_path(okr_team) %></td>
                <td><%= link_to 'Destroy', okr_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Okr Team', new_okr_team_path %>

    </div>
</div>


<!--Page specific script-->




