<div class="container">
<p id="notice"><%= notice %></p>

<h1>Team Objectives</h1>

<table>
  <thead>
    <tr>
      <th>Objective</th>
      <th>Progress</th>
      <th>Team</th>
      <th>Linked Company KR</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @team_objectives.each do |team_objective| %>
      <tr>
        <td><%= team_objective.objective %></td>
        <td><%= team_objective.progress %></td>
        <td><%= team_objective.okr_team.name %></td>
        <% @okr_company_team = OkrCompanyTeam.where(team_objective_id: team_objective.id) %>
        <% @company_key_result = CompanyKeyResult.where(id: @okr_company_team[0].company_key_result_id) %>
        <td><%= @company_key_result[0].key_result %></td>
        <td><%= link_to 'Show', team_objective %></td>
        <td><%= link_to 'Edit', edit_team_objective_path(team_objective) %></td>
        <td><%= link_to 'Destroy', team_objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Objective', new_team_objective_path %>
</div>