<!DOCTYPE html>
<html>
  <head>
    <title>PiktoOKR</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
  </head>
  <body class="fixed-header">
    <nav class="page-sidebar" data-pages="sidebar">
      <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-40"><img src="<%= @server_url %>/assets/img/demo/social_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-10"><img src="<%= @server_url %>/assets/img/demo/email_app.svg" alt="socail">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-40"><img src="<%= @server_url %>/assets/img/demo/calendar_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-10"><img src="<%= @server_url %>/assets/img/demo/add_more.svg" alt="socail">
            </a>
          </div>
        </div>
      </div>

      <div class="sidebar-header">
        <span class="brand brand-sidebar">Pikto<span class="bold">OKR</span></span>
        <span class="sidebar-header-controls">
          <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </span>
      </div>

      <div class="sidebar-menu scroll-wrapper">
        <ul class="menu-items scroll-content">
          <!-- Section to link to company -->
          <li class="m-t-30">
            <a href="/company_objectives/company_dashboard" class="detailed">
              <span class="title">
                Piktochart
              </span> 
              <p class="details details-layout">
                Company
              </p> 
            </a>
            <span class="icon-thumbnail">
              <img src="<%= @server_url %>/pikto-logo.svg" style="margin-bottom:3px;"></img>
            </span>
          </li>
          <!--Section to link to own team(s)-->
          <!--If its admin user, then will display all team(s)-->
          <% if @role != nil %>
          <% if @role.name == "Admin" %>
            <% okr_teams = OkrTeam.all %>
            <% okr_teams.each do |item| %>
              <li>
                <a href="/team/<%= item.id %>/team_objectives/team_dashboard" class="detailed">
                  <span class="title" id="team-name">
                    <%= item.name %>
                  </span> 
                  <p class="details details-layout" id="team-position">
                    Piktochart Team
                  </p> 
                </a>
                <span class="icon-thumbnail">
                  <span id="username-shortform">
                    <% @team_shortform = item.name.scan(/[A-Z]/) %>
                    <% @team_short_str = "" %>
                    <% counter = 0 %>
                    <% @team_shortform.each do |item| %>
                      <% if counter < 2 %>
                      <% @team_short_str = @team_short_str + item %>
                      <% counter = counter + 1 %>
                      <% end %>
                    <% end %>
                    <%= @team_short_str %>
                  </span>
                </span>
              </li>
            <% end %>
          <% else %>
            <% @okr_user_teams = OkrUserTeam.where(user_id: current_user.id) %>
            <% @okr_user_teams.each do |item| %>
            <% if item.status == "APPROVED" %>
            <% @okr_team = OkrTeam.find(item.okr_team_id) %>
            <li>
              <a href="/team/<%= item.okr_team_id %>/team_objectives/team_dashboard" class="detailed">
                <span class="title" id="team-name">
                  <%= @okr_team.name %>
                </span> 
                <p class="details details-layout" id="team-position">
                  Piktochart Team
                </p> 
              </a>
              <span class="icon-thumbnail">
                <span id="username-shortform">
                  <% @team_shortform = @okr_team.name.scan(/[A-Z]/) %>
                  <% @team_short_str = "" %>
                  <% counter = 0 %>
                  <% @team_shortform.each do |item| %>
                    <% if counter < 2 %>
                    <% @team_short_str = @team_short_str + item %>
                    <% counter = counter + 1 %>
                    <% end %>
                  <% end %>
                  <%= @team_short_str %>
                </span>
              </span>
            </li>
            <% end %>
            <% end %>
          <% end %>
          <% end %>
          <!--Section to link to own personal OKR-->
          <li>
            <a href="/" class="detailed">
              <span class="title" id="user-name">
                <%= @user.last_name + " " + @user.first_name %>
              </span>
              <p class="details details-layout" id="user-position">
                <%= @user.position %>
              </p> 
            </a>
            <span class="icon-thumbnail">
              <span id="username-shortform">
                <% @user_shortform = @user.first_name.scan(/[A-Z]/) %>
                <% @user_short_str = "" %>
                <% counter = 0 %>
                <% @user_shortform.each do |item| %>
                  <% if counter < 2 %>
                  <% @user_short_str = @user_short_str + item %>
                  <% counter = counter + 1 %>
                  <% end %>
                <% end %>
                <%= @user_short_str %>
              </span>
            </span>
          </li>
          <hr />
          <% okr_user_favs = OkrUserFavourite.where(user_id: current_user.id) %>
          <% okr_user_favs.each do |item| %>
            <% this_user = User.find(item.favourite_id) %>
            <li>
              <a href="/users/<%= item.favourite_id %>/personal_objectives/view_others_personal_okr" class="detailed">
                <span class="title" id="user-name">
                  <%= this_user.last_name %> <%= this_user.first_name %>
                </span>
                <p class="details details-layout" id="user-position">
                  <%= this_user.position %>
                </p> 
              </a>
              <span class="icon-thumbnail">
                <span id="username-shortform">
                  <% @user_shortform = this_user.first_name.scan(/[A-Z]/) %>
                  <% @user_short_str = "" %>
                  <% @user_shortform.each do |item| %>
                    <% @user_short_str = @user_short_str + item %>
                  <% end %>
                  <%= @user_short_str %>
                </span>
              </span>
            </li>
          <% end %>
        </ul>
        <div class="clearfix"></div>
      </div>
    </nav>

    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center hidden-md hidden-lg">
            <div class="header-inner">
              <div class="brand inline m-l-5">
                <h4 class="brand-header">Pikto<span class="bold">OKR</span></h4>
              </div>
            </div>
          </div>
          <!-- RIGHT SIDE -->
          <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="#quickview" data-toggle-element="#quickview">
                <span class="fa fa-fw fa-bell-o fa-lg menu-hambuger-plus">
                </span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class="pull-left sm-table hidden-xs hidden-sm">
          <div class="header-inner">
            <div class="brand inline m-l-5">
              <h4 class="brand-header">Pikto<span class="bold">OKR</span></h4>
            </div>
            <span class="search-link">
              <label for="search_okr_users"><i class="pg-search"></i></label>
              <input id="search_okr_users" type="text" class="custom-search" placeholder="Type to search"/>
            </span> 
          </div>
        </div>
        <div class="pull-right">
          <div class="header-inner">
            <!-- START NOTIFICATION LIST -->
            <!-- Notification is in the right hand side bar -->
            <a id="toggle_notifications" data-id="<%= @user.id %>" class="btn-link fa fa-fw fa-bell-o fa-lg menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview">
              <span id="bubble_new_notification" class="bubble">
                
              </span>
            </a>
            <!-- END NOTIFICATIONS LIST -->
          </div>
        </div>
        <div class="pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 p-l-20 fs-16 font-heading">
              <span class="semi-bold"><%= @user.last_name + " " + @user.first_name %></span> 
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                  <%= image_tag @user.avatar.url %>
                </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li>
                  <a id="link_user_profile">
                    <i class="fa fa-user"></i> 
                    Profile
                  </a>
                </li>
                <li>
                  <a id="link_feedback_form">
                    <i class="pg-outdent"></i> 
                    Feedback
                  </a>
                </li>
                <li class="bg-master-lighter">
                  <a href="/users/sign_out" class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
        <div class="pull-right sm-table hidden-xs hidden-sm">
          <div class="header-inner">
            <!-- START day notification for timeframe -->
            <div class="no-margin hidden-sm hidden-xs b-grey b-l b-r p-l-20 p-r-20">
              <div class="text-center">
                <span class="bold"><%= @remaining_quarter_days.to_i %></span>
                <span class="text-master">days left</span>
              </div>
            </div>
            <!-- END NOTIFICATIONS LIST -->
          </div>
        </div>
        <div class="pull-right">
          <div class="visible-lg visible-md m-t-15 p-r-20">
            <!-- START calendar for timeframe selection -->
            <div class="dropdown pull-right">
              <button id="btn_timeframe_dropdown" class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="<%= @selected_timeframe.id %>">
                <span class="fa fa-fw fa-calendar fa-lg"></span>
                <span class="text-master">
                  <%= @selected_timeframe.quarter%>
                </span>
                <span class="caret"></span> 
              </button>
              <ul class="dropdown-menu" role="menu">
                <% @timeframe_logs.each do |item| %>
                  <li>
                    <a name="timeframe_log_selection" data-id="<%= item.id %>">
                      <%= item.quarter %>
                    </a>
                  </li>
                <% end %>
                <% if @controls.include? 'View Future Timeframes' %>
                <% @future_timeframe_logs.each do |item| %>
                  <li>
                    <a name="timeframe_log_selection" data-id="<%= item.id %>">
                      <%= item.quarter %>
                    </a>
                  </li>
                <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">         
          <%= yield %>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2016 </span>
              <span class="font-montserrat">Piktochart Web Academy</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>

    <div id="quickview" class="quickview-wrapper" data-pages="quickview">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#quickview-alerts" data-toggle="tab">Alerts</a>
        </li>
      </ul>
      <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview">
        <i class="pg-close"></i>
      </a>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- BEGIN Alerts !-->
        <div class="tab-pane no-padding active" id="quickview-alerts">
          <div class="view-port clearfix" id="alerts">
            <!-- BEGIN Alerts View !-->
            <div class="view bg-white">
              <!-- BEGIN View Header !-->
              <div class="navbar navbar-default navbar-sm">
                <div class="navbar-inner">
                  <div class="view-heading">
                    Notifications
                  </div>
                </div>
              </div>
              <!-- END View Header !-->
              <!-- BEGIN Alert List !-->
              <div class="list-view boreded no-top-border">
                <h2 class="list-view-fake-header">
                  Team Notifications
                </h2>
                <div class="scroll-wrapper list-view-wrapper" style="position: absolute;">
                  <div class="list-view-wrapper scroll-content" data-ios="false">
                    <div class="list-view-group-container">                    
                      <ul>
                        <% team_notifications = Notification.where(receiver_id: current_user.id, notification_type: "TEAM") %>
                        <% team_notifications.each do |item| %>
                        <li class="alert-list <%= item.read_status %>" data-id="notification_<%= item.id %>">
                          <% if item.notification_message.include? "invited you to join" %> 
                          <a class="p-t-10 p-b-10" data-toggle="modal" data-target="#team_invitation_modal" name="link_pending_team_invitation">
                          <% else %>
                          <a class="p-t-10 p-b-10">
                          <% end %>
                            <p class="col-xs-height col-middle">
                              <span class="thumbnail-wrapper d32 circular inline m-t-5">
                                <% sender_user = User.find(item.sender_id) %>
                                <%= image_tag sender_user.avatar.url %>
                              </span>
                            </p>
                            <p class="p-l-10 col-xs-height col-middle col-xs-12 fs-12">
                              <span class="text-master link">
                                <%= raw(item.notification_message) %>
                              </span>
                            </p>
                          </a>      
                        </li>  
                        <% end %>                     
                      </ul>
                    </div>
                  </div>
                </div>
              <!-- EEND Alerts View !-->
              </div>
            </div>
          <!-- END Alerts !-->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for notification -->
    <div id="notification_modal" class="modal fade stick-up" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-background">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Notifications</h4>
          </div>
          <hr/>
          <div class="modal-body">
            <div class="form-group">
              <p id="notification_message">Key result is completed!</p>
            </div>
          </div>
          <div class="modal-footer">
            <button id="notification_dismiss_btn" type="button" class="btn btn-complete" data-dismiss="modal">Close</button>
          </div>
        </div>
      
      </div>
    </div>

    <!--Modal for the progress ring-->
    <div id="progress_ring_modal" class="modal fade slide-up" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content-wrapper">
          <!-- Modal content-->
          <div class="modal-content" style="border: none;">
            <div class="text-center">
              <div id="progress-ring-indeterminate"></div>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <!--Modal for accept team invite-->
    <div id="team_invitation_modal" class="modal fade slide-up" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content-wrapper">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Team Invitation</h4>
            </div>
            <hr/>
            <div class="modal-body">
              <div class="form-group">
                Do you want to accept the team invitation? 
              </div>
            </div>
            <div class="modal-footer">
              <button id="notification_dismiss_btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button id="btn_accept_team_invite" type="button" class="btn btn-complete">Accept</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Overlay for the user profile-->
    <div id="overlay_user_profile" class="overlay hide">
      <div class="overlay-content has-results m-t-20">
        <div class="container-fluid">
          <a href="/" class="close-icon-light overlay-close text-black fs-16">
            <i class="pg-close"></i>
          </a>
          <div class="col-sm-3 col-md-3 col-lg-3">
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <h5 class="m-b-5">
                <span class="bold result-name objective">
                	User Profile
                </span>
              </h5>
              <br/>
            </div>
            <div class="row">
              <div class="panel">
                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-complete" role="tablist" data-init-reponsive-tabs="collapse">
                  <li class="active">
                    <a href="#user_details_tab" data-toggle="tab" role="tab">User Details</a>
                  </li>
                  <li>
                    <a href="#password_settings_tab" data-toggle="tab" role="tab">Password Settings</a>
                  </li>
                  <li>
                    <a href="#okr_teams_tab" data-toggle="tab" role="tab">Teams</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="user_details_tab">
                    <%= form_for @user, url: "/users/#{current_user.id}/user_update_info" do |f| %>
                      <div class="text-center">
                        <%= image_tag @user.avatar.url %>
                      </div>
                      <br/>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group form-group-default">
                            <%= f.label :last_name %>
                            <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Smith", required: true %>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group form-group-default">
                            <%= f.label :first_name %>
                            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "John", required: true %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-group-default">
                        <%= f.label :email %>
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@gmail.com", required: true %>
                      </div>
                      <div class="form-group form-group-default required">
                        <%= f.label :position %>
                        <%= f.text_field :position, autofocus: true, class: "form-control", placeholder: "UI/UX Designer", required: true %>
                      </div>
                      <div class="form-group form-group-default">
                        <%= f.label :change_avatar %><br />
                        <%= f.file_field :avatar, class: "form-control" %>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group form-group-default required">
                            <%= f.label :password %>
                            <% if @minimum_password_length == 6 %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group form-group-default required">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                          </div>
                        </div>
                      </div>
                      <hr/>
                      <div class="pull-right">
                        <a href="/" id="btn_close_user_details_tab" class="btn btn-default btn-rounded btn-cons">Cancel</a>
                        <%= f.submit "Save", class: "btn btn-complete btn-rounded btn-cons" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="tab-pane" id="password_settings_tab">
                    <%= form_for @user, url: "/users/#{current_user.id}/user_update" do |f| %>
                      <div class="row">
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group form-group-default required">
                            <%= f.label :password %>
                            <% if @minimum_password_length == 6 %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group form-group-default required">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                          </div>
                        </div>
                      </div>
                      <hr/>
                      <div class="pull-right">
                        <button id="btn_close_password_settings_tab" class="btn btn-default btn-rounded btn-cons">Cancel</button>
                        <%= f.submit "Save", class: "btn btn-complete btn-rounded btn-cons" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="tab-pane" id="okr_teams_tab">
                    <% @current_user_teams = OkrUserTeam.where(user_id: current_user.id) %>
                    <% @current_user_teams.each do |item| %>
                      <% @team_info = OkrTeam.find(item.okr_team_id) %>
                      <div class="row checkbox">
                        <div class="col-lg-10 col-md-10 col-sm-10 checkbox-primary">
                          <span class="thumbnail-wrapper d32 circular inline">
                            <%= @team_info.name %>
                          </span>
                          <span class="bold m-l-20">
                            <%= @team_info.name %>
                          </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                          <div class="pull-right hide">
                            <button data-id="<%= item.id %>" id="btn_remove_team" class="btn btn-accordion no-padding">
                              <i class="pg-close"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>
      </div>
    </div>

    <!--Overlay for user searching-->
    <div id="user_search_result" class="overlay hide">
      <div class="overlay-content has-results m-t-20">
        <a href="/" class="close-icon-light overlay-close text-black fs-16">
          <i class="pg-close"></i>
        </a>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="container-fluid">
            <input id="overlay_search_user_input" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
            <br/>
            <div class="inline-block m-l-10">
              <p class="fs-13">Press enter to search (The search is case sensitive)</p>
            </div>
          </div>
          <div class="container-fluid">
            <div class="search-results m-t-40">
              <p class="bold">PiktoOKR Search Results</p>
              <div id="div_search_users_results" class="row">

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>

    <div id="feedback_form" class="overlay hide">
      <div class="overlay-content has-results m-t-20">
        <div class="container-fluid">
          <a href="/" class="close-icon-light overlay-close text-black fs-16">
            <i class="pg-close"></i>
          </a>
          <div class="col-sm-3 col-md-3 col-lg-3">
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <h5 class="m-b-5">
                <span class="bold result-name objective">
                	Feedback Form
                </span>
              </h5>
              <hr/>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="<%= @server_url %>/wink.png" style="width:36px;"/>
              </div>
              <div class="col-md-10 col-sm-10">
                <p class="bold">Anything on your mind that you'd like to share?</p>
                <p>Please be as detailed as possible to allow effective plannings on improving the system.</p>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="form-group form-group-default required">
                <label>Feedback</label>
                <textarea id="textarea_feedback" class="note-editable feedback-textarea">
                </textarea>
              </div>
            </div>
            <br/>
            <div class="row pull-right">
              <a href="/" class="btn btn-default btn-rounded btn-cons">
                Cancel
              </a>
              <button id="btn_submit_feedback" class="btn btn-complete btn-rounded btn-cons">
                Submit
              </button>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>
      </div>
    </div>

    <div id="modal_delete_feedback_confirmation" class="modal fade stick-up" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-background">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Feedback</h4>
          </div>
          <hr/>
          <div class="modal-body">
            <div class="form-group">
              <p id="notification_message">Are you sure to remove this feedback?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btn_confirm_delete_feedback" type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      
      </div>
    </div>
    

    <script src="/dist/vendor-webpack.js"></script>   
    <script src="/dist/personal_okr-webpack.js"></script>
    <script src="/dist/team_okr-webpack.js"></script>
    <script src="/dist/company_okr-webpack.js"></script>
    <script src="/dist/user-webpack.js"></script>
    <script src="/dist/team-webpack.js"></script>
    <script src="/dist/timeframe-webpack.js"></script>
    <script src="/dist/role-webpack.js"></script>
  </body>
</html>
<!-- modified -->