<% @user = User.find(current_user.id) %>
<% #User listing module %>
<% @users = User.all %>
<% @current_date = Time.now.strftime("%Y-%m-%d") %>
<% @timeframe_logs = TimeframeLog.where("start_date <= '" + @current_date + "'") %>
<% @current_timeframe_log = TimeframeLog.where("(start_date,end_date) overlaps ('" + @current_date + "'::DATE,'" + @current_date + "'::DATE)") %>
<% @remaining_quarter_days = @current_timeframe_log[0].end_date - Time.now.to_date %>

<% @server_url = "http://localhost:3000" %>

<!DOCTYPE html>
<html>
  <head>
    <title>PiktoOKR</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
  </head>
  <body class="fixed-header">
    <nav class="page-sidebar" data-pages="sidebar">
      <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-40"><img src="<%= @server_url %>/assets/img/demo/social_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-10"><img src="<%= @server_url %>/assets/img/demo/email_app.svg" alt="socail">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-40"><img src="<%= @server_url %>/assets/img/demo/calendar_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-10"><img src="<%= @server_url %>/assets/img/demo/add_more.svg" alt="socail">
            </a>
          </div>
        </div>
      </div>

      <div class="sidebar-header">
        <img src="<%= @server_url %>/assets/img/logo_white.png" alt="logo" class="brand" data-src="<%= @server_url %>/assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>

      <div class="sidebar-menu">
        <ul class="menu-items">
          <!-- Section to link to company -->
          <li class="m-t-30">
            <a href="/company_objectives/company_dashboard" class="detailed">
              <span class="title">
                Piktochart
              </span> 
              <p class="details details-layout">
                Company
              </p> 
            </a>
            <span class="icon-thumbnail" style="background:transparent;">
              <img src="<%= @server_url %>/Piktochart-icon.png"></img>
            </span>
          </li>
          <!--Section to link to own team(s)-->
          <% @okr_user_teams = OkrUserTeam.where(user_id: current_user.id) %>
          <% @okr_user_teams.each do |item| %>
          <% @okr_team = OkrTeam.where(id: item.okr_team_id) %>
          <li>
            <a href="/team_objectives/team_dashboard/<%= item.okr_team_id %>" class="detailed">
              <span class="title" id="team-name">
                <%= @okr_team[0].name %>
              </span> 
              <p class="details details-layout" id="team-position">
                Piktochart Team
              </p> 
            </a>
            <span class="icon-thumbnail">
              <span id="username-shortform">
                <% @team_shortform = @okr_team[0].name.scan(/[A-Z]/) %>
                <% @team_short_str = "" %>
                <% @team_shortform.each do |item| %>
                  <% @team_short_str = @team_short_str + item %>
                <% end %>
                <%= @team_short_str %>
              </span>
            </span>
          </li>
          <% end %>
          <!--Section to link to own personal OKR-->
          <li>
            <a href="/" class="detailed">
              <span class="title" id="user-name">
                <%= @user.name %>
              </span>
              <p class="details details-layout" id="user-position">
                <%= @user.position %>
              </p> 
            </a>
            <span class="icon-thumbnail">
              <span id="username-shortform">
                <% @user_shortform = @user.name.scan(/[A-Z]/) %>
                <% @user_short_str = "" %>
                <% @user_shortform.each do |item| %>
                  <% @user_short_str = @user_short_str + item %>
                <% end %>
                <%= @user_short_str %>
              </span>
            </span>
          </li>
          <hr />
          <% @users.each_with_index do |item,index| %>
            <% if (item.id != current_user.id) %>
              <% if (index == 0) %>
              <li>
                <a href="/personal_objectives/view_others_personal_okr/<%= item.id %>" class="detailed">
                  <span class="title" id="user-name">
                    <%= item.name %>
                  </span>
                  <p class="details details-layout" id="user-position">
                    <%= item.position %>
                  </p> 
                </a>
                <span class="icon-thumbnail">
                  <span id="username-shortform">
                    <% @user_shortform = item.name.scan(/[A-Z]/) %>
                    <% @user_short_str = "" %>
                    <% @user_shortform.each do |item| %>
                      <% @user_short_str = @user_short_str + item %>
                    <% end %>
                    <%= @user_short_str %>
                  </span>
                </span>
              </li>
              <% else %>
              <li>
                <!-- Date : 23rd August 2016 -->
                <!-- User favourite module proposed here -->
                <!-- Current Progress: User Listing Module -->          
                <!-- JS here to generate the user name and shortform -->
                <a href="/personal_objectives/view_others_personal_okr/<%= item.id %>" class="detailed">
                  <span class="title" id="user-name">
                    <%= item.name %>
                  </span>
                  <p class="details details-layout" id="user-position">
                    <%= item.position %>
                  </p> 
                </a>
                <span class="icon-thumbnail">
                  <span id="username-shortform">
                    <% @user_shortform = item.name.scan(/[A-Z]/) %>
                    <% @user_short_str = "" %>
                    <% @user_shortform.each do |item| %>
                      <% @user_short_str = @user_short_str + item %>
                    <% end %>
                    <%= @user_short_str %>
                  </span>
                </span>
              </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <div class="clearfix"></div>
      </div>
    </nav>

    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center hidden-md hidden-lg">
            <div class="header-inner">
              <div class="brand inline">
                <img src="<%= @server_url %>/assets/img/logo.png" alt="logo" data-src="<%= @server_url %>/assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
              </div>
            </div>
          </div>
          <!-- RIGHT SIDE -->
          <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="/" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="#quickview" data-toggle-element="#quickview">
                <span class="fa fa-fw fa-bell-o fa-lg menu-hambuger-plus"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class="pull-left sm-table hidden-xs hidden-sm">
          <div class="header-inner">
            <div class="brand inline">
              <img src="<%= @server_url %>/assets/img/logo.png" alt="logo" data-src="<%= @server_url %>/assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            </div>
            <span class="search-link">
              <label for="search-input"><i class="pg-search"></i></label>
              <input id="search-input" type="text" class="custom-search" placeholder="Type to search"/>
            </span> 
          </div>
        </div>
        <div class="pull-right">
          <div class="header-inner">
            <!-- START NOTIFICATION LIST -->
            <!-- Notification is in the right hand side bar -->
            <a href="/" class="btn-link fa fa-fw fa-bell-o fa-lg menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview">
            </a>
            <!-- END NOTIFICATIONS LIST -->
          </div>
        </div>
        <div class="pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 p-l-20 fs-16 font-heading">
              <span class="semi-bold"><%= @user.name %></span> 
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                  <%= image_tag @user.avatar.url %>
                </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li>
                  <a href="/">
                    <i class="fa fa-user"></i> 
                    Profile
                  </a>
                </li>
                <li>
                  <a href="/">
                    <i class="pg-settings"></i> 
                    Setting
                  </a>
                </li>
                <li>
                  <a href="/">
                    <i class="pg-outdent"></i> 
                    Feedback
                  </a>
                </li>
                <li class="bg-master-lighter">
                  <a href="/users/sign_out" class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
        <div class="pull-right sm-table hidden-xs hidden-sm">
          <div class="header-inner">
            <!-- START day notification for timeframe -->
            <div class="no-margin hidden-sm hidden-xs b-grey b-l b-r p-l-20 p-r-20">
              <div class="text-center">
                <span class="bold"><%= @remaining_quarter_days.to_i %></span> 
                <span class="text-master">days left</span>
              </div>
            </div>
            <!-- END NOTIFICATIONS LIST -->
          </div>
        </div>
        <div class="pull-right">
          <div class="visible-lg visible-md m-t-15 p-r-20">
            <!-- START calendar for timeframe selection -->
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-fw fa-calendar fa-lg"></span>
                <span class="text-master">
                  <%= @current_timeframe_log[0].quarter %>
                </span>
                <span class="caret"></span> 
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <% @timeframe_logs.each do |item| %>
                  <li>
                    <a href="#">
                      <%= item.quarter %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">         
          <%= yield %>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2016 </span>
              <span class="font-montserrat">PiktoChart Web Academy</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>

    <div id="quickview" class="quickview-wrapper" data-pages="quickview">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#quickview-alerts" data-toggle="tab">Alerts</a>
        </li>
      </ul>
      <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview">
        <i class="pg-close"></i>
      </a>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- BEGIN Alerts !-->
        <div class="tab-pane no-padding active" id="quickview-alerts">
          <div class="view-port clearfix" id="alerts">
            <!-- BEGIN Alerts View !-->
            <div class="view bg-white">
              <!-- BEGIN View Header !-->
              <div class="navbar navbar-default navbar-sm">
                <div class="navbar-inner">
                  <div class="view-heading">
                    Notifications
                  </div>
                </div>
              </div>
              <!-- END View Header !-->
              <!-- BEGIN Alert List !-->
              <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
                <h2 class="list-view-fake-header">
                  Server Status
                </h2>
                <!-- BEGIN List Group !-->
                <div class="scroll-wrapper list-view-wrapper" style="position: absolute;">
                  <div class="list-view-wrapper scroll-content" data-ios="false" style="height: 100px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                    <div class="list-view-group-container">
                      <!-- BEGIN List Group Header!-->
                      <div class="list-view-group-header text-uppercase">
                        Calendar
                      </div>
                      <!-- END List Group Header!-->
                      <ul>
                        <!-- BEGIN List Group Item!-->
                        <li class="alert-list">
                          defdef
                          <!-- BEGIN List Group Item!-->
                        </li>
                        <!-- END List Group Item!-->
                        <!-- BEGIN List Group Item!-->
                        <li class="alert-list">
                          abcabc
                        </li>
                        <!-- END List Group Item!-->
                      </ul>
                    </div>
                  </div>
                <!-- END Alert List !-->
                </div>
              <!-- EEND Alerts View !-->
              </div>
            </div>
          <!-- END Alerts !-->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for notification -->
    <div id="notification_modal" class="modal fade stick-up" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-background">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Notifications</h4>
          </div>
          <hr/>
          <div class="modal-body">
            <div class="form-group">
              <p id="notification_message">This key result is completed!</p>
            </div>
          </div>
          <div class="modal-footer">
            <button id="notification_dismiss_btn" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      
      </div>
    </div>

    <!--Modal for the progress ring-->
    <div id="progress_ring_modal" class="modal fade slide-up" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content-wrapper">
          <!-- Modal content-->
          <div class="modal-content" style="border: none;">
            <div class="text-center">
              <div id="progress-ring-indeterminate"></div>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <script src="/dist/vendor-webpack.js"></script>   
    <script src="/dist/personal_okr-webpack.js"></script>
    <script src="/dist/team_okr-webpack.js"></script>
    <script src="/dist/company_okr-webpack.js"></script>
  </body>
</html>
<!-- modified -->